<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>anusvara</key>
	<string>anusvara.glif</string>
	<key>caron.alt</key>
	<string>caron.alt.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>sinA</key>
	<string>sinA_.glif</string>
	<key>sinAa</key>
	<string>sinA_a.glif</string>
	<key>sinAe</key>
	<string>sinA_e.glif</string>
	<key>sinAee</key>
	<string>sinA_ee.glif</string>
	<key>sinAi</key>
	<string>sinA_i.glif</string>
	<key>sinAu</key>
	<string>sinA_u.glif</string>
	<key>sinBa</key>
	<string>sinB_a.glif</string>
	<key>sinBha</key>
	<string>sinB_ha.glif</string>
	<key>sinCa</key>
	<string>sinC_a.glif</string>
	<key>sinCha</key>
	<string>sinC_ha.glif</string>
	<key>sinDa</key>
	<string>sinD_a.glif</string>
	<key>sinDda</key>
	<string>sinD_da.glif</string>
	<key>sinDdha</key>
	<string>sinD_dha.glif</string>
	<key>sinDha</key>
	<string>sinD_ha.glif</string>
	<key>sinE</key>
	<string>sinE_.glif</string>
	<key>sinEe</key>
	<string>sinE_e.glif</string>
	<key>sinFa</key>
	<string>sinF_a.glif</string>
	<key>sinGa</key>
	<string>sinG_a.glif</string>
	<key>sinGha</key>
	<string>sinG_ha.glif</string>
	<key>sinHa</key>
	<string>sinH_a.glif</string>
	<key>sinHalant</key>
	<string>sinH_alant.glif</string>
	<key>sinI</key>
	<string>sinI_.glif</string>
	<key>sinIi</key>
	<string>sinI_i.glif</string>
	<key>sinJa</key>
	<string>sinJ_a.glif</string>
	<key>sinJha</key>
	<string>sinJ_ha.glif</string>
	<key>sinJnya</key>
	<string>sinJ_nya.glif</string>
	<key>sinKa</key>
	<string>sinK_a.glif</string>
	<key>sinKha</key>
	<string>sinK_ha.glif</string>
	<key>sinLa</key>
	<string>sinL_a.glif</string>
	<key>sinLla</key>
	<string>sinL_la.glif</string>
	<key>sinMa</key>
	<string>sinM_a.glif</string>
	<key>sinMatraAa</key>
	<string>sinM_atraA_a.glif</string>
	<key>sinMatraAae</key>
	<string>sinM_atraA_ae.glif</string>
	<key>sinMatraAe</key>
	<string>sinM_atraA_e.glif</string>
	<key>sinMatraAi</key>
	<string>sinM_atraA_i.glif</string>
	<key>sinMatraAu</key>
	<string>sinM_atraA_u.glif</string>
	<key>sinMatraE</key>
	<string>sinM_atraE_.glif</string>
	<key>sinMatraEe</key>
	<string>sinM_atraE_e.glif</string>
	<key>sinMatraI</key>
	<string>sinM_atraI_.glif</string>
	<key>sinMatraIi</key>
	<string>sinM_atraI_i.glif</string>
	<key>sinMatraLl</key>
	<string>sinM_atraL_l.glif</string>
	<key>sinMatraLs</key>
	<string>sinM_atraL_s.glif</string>
	<key>sinMatraO</key>
	<string>sinM_atraO_.glif</string>
	<key>sinMatraOo</key>
	<string>sinM_atraO_o.glif</string>
	<key>sinMatraOo.pstf</key>
	<string>sinM_atraO_o.pstf.glif</string>
	<key>sinMatraR</key>
	<string>sinM_atraR_.glif</string>
	<key>sinMatraRr</key>
	<string>sinM_atraR_r.glif</string>
	<key>sinMatraU</key>
	<string>sinM_atraU_.glif</string>
	<key>sinMatraUu</key>
	<string>sinM_atraU_u.glif</string>
	<key>sinMba</key>
	<string>sinM_ba.glif</string>
	<key>sinNa</key>
	<string>sinN_a.glif</string>
	<key>sinNda</key>
	<string>sinN_da.glif</string>
	<key>sinNdja</key>
	<string>sinN_dja.glif</string>
	<key>sinNga</key>
	<string>sinN_ga.glif</string>
	<key>sinNna</key>
	<string>sinN_na.glif</string>
	<key>sinNndda</key>
	<string>sinN_ndda.glif</string>
	<key>sinNnga</key>
	<string>sinN_nga.glif</string>
	<key>sinNya</key>
	<string>sinN_ya.glif</string>
	<key>sinO</key>
	<string>sinO_.glif</string>
	<key>sinOo</key>
	<string>sinO_o.glif</string>
	<key>sinPa</key>
	<string>sinP_a.glif</string>
	<key>sinPha</key>
	<string>sinP_ha.glif</string>
	<key>sinRa</key>
	<string>sinR_a.glif</string>
	<key>sinSa</key>
	<string>sinS_a.glif</string>
	<key>sinSha</key>
	<string>sinS_ha.glif</string>
	<key>sinSsa</key>
	<string>sinS_sa.glif</string>
	<key>sinTa</key>
	<string>sinT_a.glif</string>
	<key>sinTha</key>
	<string>sinT_ha.glif</string>
	<key>sinTta</key>
	<string>sinT_ta.glif</string>
	<key>sinTtha</key>
	<string>sinT_tha.glif</string>
	<key>sinU</key>
	<string>sinU_.glif</string>
	<key>sinUu</key>
	<string>sinU_u.glif</string>
	<key>sinVa</key>
	<string>sinV_a.glif</string>
	<key>sinYa</key>
	<string>sinY_a.glif</string>
	<key>sinkundaliya</key>
	<string>sinkundaliya.glif</string>
	<key>sinvocalicL</key>
	<string>sinvocalicL_.glif</string>
	<key>sinvocalicLL</key>
	<string>sinvocalicL_L_.glif</string>
	<key>sinvocalicR</key>
	<string>sinvocalicR_.glif</string>
	<key>sinvocalicRr</key>
	<string>sinvocalicR_r.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>taA</key>
	<string>taA_.glif</string>
	<key>taAa</key>
	<string>taA_a.glif</string>
	<key>taAi</key>
	<string>taA_i.glif</string>
	<key>taAnusvara</key>
	<string>taA_nusvara.glif</string>
	<key>taAu</key>
	<string>taA_u.glif</string>
	<key>taAulengthmark</key>
	<string>taA_ulengthmark.glif</string>
	<key>taCa</key>
	<string>taC_a.glif</string>
	<key>taE</key>
	<string>taE_.glif</string>
	<key>taEe</key>
	<string>taE_e.glif</string>
	<key>taHa</key>
	<string>taH_a.glif</string>
	<key>taHalant</key>
	<string>taH_alant.glif</string>
	<key>taI</key>
	<string>taI_.glif</string>
	<key>taIi</key>
	<string>taI_i.glif</string>
	<key>taJa</key>
	<string>taJ_a.glif</string>
	<key>taKa</key>
	<string>taK_a.glif</string>
	<key>taLa</key>
	<string>taL_a.glif</string>
	<key>taLla</key>
	<string>taL_la.glif</string>
	<key>taLlla</key>
	<string>taL_lla.glif</string>
	<key>taMa</key>
	<string>taM_a.glif</string>
	<key>taMatrAau</key>
	<string>taM_atrA_au.glif</string>
	<key>taMatraAa</key>
	<string>taM_atraA_a.glif</string>
	<key>taMatraAi</key>
	<string>taM_atraA_i.glif</string>
	<key>taMatraE</key>
	<string>taM_atraE_.glif</string>
	<key>taMatraEe</key>
	<string>taM_atraE_e.glif</string>
	<key>taMatraI</key>
	<string>taM_atraI_.glif</string>
	<key>taMatraIi</key>
	<string>taM_atraI_i.glif</string>
	<key>taMatraO</key>
	<string>taM_atraO_.glif</string>
	<key>taMatraOo</key>
	<string>taM_atraO_o.glif</string>
	<key>taMatraU</key>
	<string>taM_atraU_.glif</string>
	<key>taMatraUu</key>
	<string>taM_atraU_u.glif</string>
	<key>taNa</key>
	<string>taN_a.glif</string>
	<key>taNga</key>
	<string>taN_ga.glif</string>
	<key>taNna</key>
	<string>taN_na.glif</string>
	<key>taNnna</key>
	<string>taN_nna.glif</string>
	<key>taNya</key>
	<string>taN_ya.glif</string>
	<key>taO</key>
	<string>taO_.glif</string>
	<key>taOm</key>
	<string>taO_m.glif</string>
	<key>taOo</key>
	<string>taO_o.glif</string>
	<key>taPa</key>
	<string>taP_a.glif</string>
	<key>taRa</key>
	<string>taR_a.glif</string>
	<key>taRra</key>
	<string>taR_ra.glif</string>
	<key>taRupee</key>
	<string>taR_upee.glif</string>
	<key>taSa</key>
	<string>taS_a.glif</string>
	<key>taSha</key>
	<string>taS_ha.glif</string>
	<key>taSsa</key>
	<string>taS_sa.glif</string>
	<key>taTa</key>
	<string>taT_a.glif</string>
	<key>taTta</key>
	<string>taT_ta.glif</string>
	<key>taU</key>
	<string>taU_.glif</string>
	<key>taUu</key>
	<string>taU_u.glif</string>
	<key>taVa</key>
	<string>taV_a.glif</string>
	<key>taVisarga</key>
	<string>taV_isarga.glif</string>
	<key>taYa</key>
	<string>taY_a.glif</string>
	<key>taasabove</key>
	<string>taasabove.glif</string>
	<key>tacredit</key>
	<string>tacredit.glif</string>
	<key>taday</key>
	<string>taday.glif</string>
	<key>tadebit</key>
	<string>tadebit.glif</string>
	<key>taeight</key>
	<string>taeight.glif</string>
	<key>tafive</key>
	<string>tafive.glif</string>
	<key>tafour</key>
	<string>tafour.glif</string>
	<key>tamonth</key>
	<string>tamonth.glif</string>
	<key>tanine</key>
	<string>tanine.glif</string>
	<key>tanumber</key>
	<string>tanumber.glif</string>
	<key>taone</key>
	<string>taone.glif</string>
	<key>taonehundred</key>
	<string>taonehundred.glif</string>
	<key>taonethousand</key>
	<string>taonethousand.glif</string>
	<key>taseven</key>
	<string>taseven.glif</string>
	<key>tasix</key>
	<string>tasix.glif</string>
	<key>taten</key>
	<string>taten.glif</string>
	<key>tathree</key>
	<string>tathree.glif</string>
	<key>tatwo</key>
	<string>tatwo.glif</string>
	<key>tayear</key>
	<string>tayear.glif</string>
	<key>tazero</key>
	<string>tazero.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BBF.abvs</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn_u0B_B_F_.abvs.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BC0.abvs</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn_u0B_C_0.abvs.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BCD.half</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn_u0B_C_D_.half.glif</string>
	<key>u0BB6_u0BCD.half_u0BB0_u0BC0.abvs</key>
	<string>u0B_B_6_u0B_C_D_.half_u0B_B_0_u0B_C_0.abvs.glif</string>
	<key>uni02BC</key>
	<string>uni02B_C_.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni030F</key>
	<string>uni030F_.glif</string>
	<key>uni0311</key>
	<string>uni0311.glif</string>
	<key>uni20A1</key>
	<string>uni20A_1.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>visarga</key>
	<string>visarga.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
