<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/taJa</string>
		<string>/sinA/sinAa/sinAe/sinAee/sinAi/sinAu/sinBa/sinBha/sinCa/sinCha/sinDa/sinDda/sinDdha/sinDha/sinE/sinEe/sinFa/sinGa/sinGha/sinHa/sinI/sinIi/sinJa/sinJha/sinJnya/sinKa/sinKha/sinLa/sinLla/sinMa/sinMba/sinNa/sinNda/sinNdja/sinNga/sinNna/sinNndda/sinNnga/sinNya/sinO/sinOo/sinPa/sinPha/sinRa/sinSa/sinSha/sinSsa/sinTa/sinTha/sinTta/sinTtha/sinU/sinUu/sinVa/sinYa/sinvocalicL/sinvocalicLL/sinvocalicR/sinvocalicRr</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.license</key>
	<string>GPL</string>
	<key>com.schriftgestaltung.font.versionString</key>
	<string>Version 2.00; DEV</string>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>FDB844D3-6113-4F20-A391-626B83580871</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>50</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAe</string>
		<string>sinAee</string>
		<string>sinAi</string>
		<string>sinAu</string>
		<string>sinBa</string>
		<string>sinBha</string>
		<string>sinCa</string>
		<string>sinCha</string>
		<string>sinDa</string>
		<string>sinDda</string>
		<string>sinDdha</string>
		<string>sinDha</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJa</string>
		<string>sinJha</string>
		<string>sinJnya</string>
		<string>sinKa</string>
		<string>sinKha</string>
		<string>sinLa</string>
		<string>sinLla</string>
		<string>sinMa</string>
		<string>sinMba</string>
		<string>sinNa</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNna</string>
		<string>sinNndda</string>
		<string>sinNnga</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPha</string>
		<string>sinRa</string>
		<string>sinSa</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinTha</string>
		<string>sinTta</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVa</string>
		<string>sinYa</string>
		<string>sinvocalicL</string>
		<string>sinvocalicLL</string>
		<string>sinvocalicR</string>
		<string>sinvocalicRr</string>
		<string>taA</string>
		<string>taAa</string>
		<string>taI</string>
		<string>taIi</string>
		<string>taU</string>
		<string>taUu</string>
		<string>taE</string>
		<string>taEe</string>
		<string>taAi</string>
		<string>taO</string>
		<string>taOo</string>
		<string>taAu</string>
		<string>taKa</string>
		<string>taNga</string>
		<string>taCa</string>
		<string>taJa</string>
		<string>taNya</string>
		<string>taTta</string>
		<string>taNna</string>
		<string>taTa</string>
		<string>taNa</string>
		<string>taNnna</string>
		<string>taPa</string>
		<string>taMa</string>
		<string>taYa</string>
		<string>taRa</string>
		<string>taRra</string>
		<string>taLa</string>
		<string>taLla</string>
		<string>taLlla</string>
		<string>taVa</string>
		<string>taSha</string>
		<string>taSsa</string>
		<string>taSa</string>
		<string>taHa</string>
		<string>taOm</string>
		<string>taVisarga</string>
		<string>u0B95_u0BCD_u0BB7.akhn_u0BBF.abvs</string>
		<string>u0B95_u0BCD_u0BB7.akhn_u0BC0.abvs</string>
		<string>u0B95_u0BCD_u0BB7.akhn_u0BCD.half</string>
		<string>u0BB6_u0BCD.half_u0BB0_u0BC0.abvs</string>
		<string>taten</string>
		<string>taonehundred</string>
		<string>taonethousand</string>
		<string>tazero</string>
		<string>taone</string>
		<string>tatwo</string>
		<string>tathree</string>
		<string>tafour</string>
		<string>tafive</string>
		<string>tasix</string>
		<string>taseven</string>
		<string>taeight</string>
		<string>tanine</string>
		<string>period</string>
		<string>sinkundaliya</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>taRupee</string>
		<string>uni20A1</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>uni25CC</string>
		<string>lozenge</string>
		<string>taday</string>
		<string>tamonth</string>
		<string>tayear</string>
		<string>tadebit</string>
		<string>tacredit</string>
		<string>taasabove</string>
		<string>tanumber</string>
		<string>uni02BC</string>
		<string>uni02C9</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>commaaccent</string>
		<string>caron.alt</string>
		<string>anusvara</string>
		<string>sinHalant</string>
		<string>sinMatraAa</string>
		<string>sinMatraAae</string>
		<string>sinMatraAe</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraLl</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraR</string>
		<string>sinMatraRr</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>taMatraAa</string>
		<string>taMatraI</string>
		<string>taMatraIi</string>
		<string>taMatraU</string>
		<string>taMatraUu</string>
		<string>taMatraE</string>
		<string>taMatraEe</string>
		<string>taMatraAi</string>
		<string>taMatraO</string>
		<string>taMatraOo</string>
		<string>taMatrAau</string>
		<string>taHalant</string>
		<string>taAulengthmark</string>
		<string>taAnusvara</string>
		<string>visarga</string>
		<string>sinMatraOo.pstf</string>
	</array>
</dict>
</plist>
