<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anusvara</key>
	<string>anusvara.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>czechcaron</key>
	<string>czechcaron.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>mooniak</key>
	<string>mooniak.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sinA</key>
	<string>sinA_.glif</string>
	<key>sinAa</key>
	<string>sinA_a.glif</string>
	<key>sinAe</key>
	<string>sinA_e.glif</string>
	<key>sinAee</key>
	<string>sinA_ee.glif</string>
	<key>sinAi</key>
	<string>sinA_i.glif</string>
	<key>sinAu</key>
	<string>sinA_u.glif</string>
	<key>sinB.halant</key>
	<string>sinB_.halant.glif</string>
	<key>sinBI</key>
	<string>sinB_I_.glif</string>
	<key>sinBIi</key>
	<string>sinB_I_i.glif</string>
	<key>sinBR.halant</key>
	<string>sinB_R_.halant.glif</string>
	<key>sinBRI</key>
	<string>sinB_R_I_.glif</string>
	<key>sinBRIi</key>
	<string>sinB_R_I_i.glif</string>
	<key>sinBRa</key>
	<string>sinB_R_a.glif</string>
	<key>sinBU</key>
	<string>sinB_U_.glif</string>
	<key>sinBUu</key>
	<string>sinB_U_u.glif</string>
	<key>sinBa</key>
	<string>sinB_a.glif</string>
	<key>sinBh.halant</key>
	<string>sinB_h.halant.glif</string>
	<key>sinBhI</key>
	<string>sinB_hI_.glif</string>
	<key>sinBhIi</key>
	<string>sinB_hI_i.glif</string>
	<key>sinBhRI</key>
	<string>sinB_hR_I_.glif</string>
	<key>sinBhRIi</key>
	<string>sinB_hR_I_i.glif</string>
	<key>sinBhRa</key>
	<string>sinB_hR_a.glif</string>
	<key>sinBhRa.halant</key>
	<string>sinB_hR_a.halant.glif</string>
	<key>sinBhU</key>
	<string>sinB_hU_.glif</string>
	<key>sinBhUu</key>
	<string>sinB_hU_u.glif</string>
	<key>sinBha</key>
	<string>sinB_ha.glif</string>
	<key>sinC.halant</key>
	<string>sinC_.halant.glif</string>
	<key>sinCI</key>
	<string>sinC_I_.glif</string>
	<key>sinCIi</key>
	<string>sinC_I_i.glif</string>
	<key>sinCR.halant</key>
	<string>sinC_R_.halant.glif</string>
	<key>sinCRI</key>
	<string>sinC_R_I_.glif</string>
	<key>sinCRIi</key>
	<string>sinC_R_I_i.glif</string>
	<key>sinCRa</key>
	<string>sinC_R_a.glif</string>
	<key>sinCU</key>
	<string>sinC_U_.glif</string>
	<key>sinCUu</key>
	<string>sinC_U_u.glif</string>
	<key>sinCa</key>
	<string>sinC_a.glif</string>
	<key>sinCh.halant</key>
	<string>sinC_h.halant.glif</string>
	<key>sinChI</key>
	<string>sinC_hI_.glif</string>
	<key>sinChIi</key>
	<string>sinC_hI_i.glif</string>
	<key>sinChU</key>
	<string>sinC_hU_.glif</string>
	<key>sinChUu</key>
	<string>sinC_hU_u.glif</string>
	<key>sinCha</key>
	<string>sinC_ha.glif</string>
	<key>sinD.halant</key>
	<string>sinD_.halant.glif</string>
	<key>sinDAa</key>
	<string>sinD_A_a.glif</string>
	<key>sinDAe</key>
	<string>sinD_A_e.glif</string>
	<key>sinDDhI</key>
	<string>sinD_D_hI_.glif</string>
	<key>sinDDhIi</key>
	<string>sinD_D_hI_i.glif</string>
	<key>sinDI</key>
	<string>sinD_I_.glif</string>
	<key>sinDIi</key>
	<string>sinD_I_i.glif</string>
	<key>sinDU</key>
	<string>sinD_U_.glif</string>
	<key>sinDUu</key>
	<string>sinD_U_u.glif</string>
	<key>sinDVI</key>
	<string>sinD_V_I_.glif</string>
	<key>sinDVIi</key>
	<string>sinD_V_I_i.glif</string>
	<key>sinDVU</key>
	<string>sinD_V_U_.glif</string>
	<key>sinDVUu</key>
	<string>sinD_V_U_u.glif</string>
	<key>sinDa</key>
	<string>sinD_a.glif</string>
	<key>sinDd.halant</key>
	<string>sinD_d.halant.glif</string>
	<key>sinDdI</key>
	<string>sinD_dI_.glif</string>
	<key>sinDdIi</key>
	<string>sinD_dI_i.glif</string>
	<key>sinDdR.halant</key>
	<string>sinD_dR_.halant.glif</string>
	<key>sinDdRI</key>
	<string>sinD_dR_I_.glif</string>
	<key>sinDdRIi</key>
	<string>sinD_dR_I_i.glif</string>
	<key>sinDdRa</key>
	<string>sinD_dR_a.glif</string>
	<key>sinDdU</key>
	<string>sinD_dU_.glif</string>
	<key>sinDdUu</key>
	<string>sinD_dU_u.glif</string>
	<key>sinDda</key>
	<string>sinD_da.glif</string>
	<key>sinDdh.halant</key>
	<string>sinD_dh.halant.glif</string>
	<key>sinDdhI</key>
	<string>sinD_dhI_.glif</string>
	<key>sinDdhIi</key>
	<string>sinD_dhI_i.glif</string>
	<key>sinDdhU</key>
	<string>sinD_dhU_.glif</string>
	<key>sinDdhUu</key>
	<string>sinD_dhU_u.glif</string>
	<key>sinDdha</key>
	<string>sinD_dha.glif</string>
	<key>sinDh.halant</key>
	<string>sinD_h.halant.glif</string>
	<key>sinDhI</key>
	<string>sinD_hI_.glif</string>
	<key>sinDhIi</key>
	<string>sinD_hI_i.glif</string>
	<key>sinDhRI</key>
	<string>sinD_hR_I_.glif</string>
	<key>sinDhRIi</key>
	<string>sinD_hR_I_i.glif</string>
	<key>sinDhRa</key>
	<string>sinD_hR_a.glif</string>
	<key>sinDhU</key>
	<string>sinD_hU_.glif</string>
	<key>sinDhUu</key>
	<string>sinD_hU_u.glif</string>
	<key>sinDha</key>
	<string>sinD_ha.glif</string>
	<key>sinDvocR</key>
	<string>sinD_vocR_.glif</string>
	<key>sinDvocRr</key>
	<string>sinD_vocR_r.glif</string>
	<key>sinE</key>
	<string>sinE_.glif</string>
	<key>sinEe</key>
	<string>sinE_e.glif</string>
	<key>sinF.halant</key>
	<string>sinF_.halant.glif</string>
	<key>sinFI</key>
	<string>sinF_I_.glif</string>
	<key>sinFIi</key>
	<string>sinF_I_i.glif</string>
	<key>sinFR.halant</key>
	<string>sinF_R_.halant.glif</string>
	<key>sinFRI</key>
	<string>sinF_R_I_.glif</string>
	<key>sinFRIi</key>
	<string>sinF_R_I_i.glif</string>
	<key>sinFRa</key>
	<string>sinF_R_a.glif</string>
	<key>sinFU</key>
	<string>sinF_U_.glif</string>
	<key>sinFUu</key>
	<string>sinF_U_u.glif</string>
	<key>sinFa</key>
	<string>sinF_a.glif</string>
	<key>sinG.halant</key>
	<string>sinG_.halant.glif</string>
	<key>sinGI</key>
	<string>sinG_I_.glif</string>
	<key>sinGIi</key>
	<string>sinG_I_i.glif</string>
	<key>sinGR.halant</key>
	<string>sinG_R_.halant.glif</string>
	<key>sinGRI</key>
	<string>sinG_R_I_.glif</string>
	<key>sinGRIi</key>
	<string>sinG_R_I_i.glif</string>
	<key>sinGRa</key>
	<string>sinG_R_a.glif</string>
	<key>sinGU</key>
	<string>sinG_U_.glif</string>
	<key>sinGUu</key>
	<string>sinG_U_u.glif</string>
	<key>sinGa</key>
	<string>sinG_a.glif</string>
	<key>sinGh.halant</key>
	<string>sinG_h.halant.glif</string>
	<key>sinGhI</key>
	<string>sinG_hI_.glif</string>
	<key>sinGhIi</key>
	<string>sinG_hI_i.glif</string>
	<key>sinGhR.halant</key>
	<string>sinG_hR_.halant.glif</string>
	<key>sinGhRI</key>
	<string>sinG_hR_I_.glif</string>
	<key>sinGhRIi</key>
	<string>sinG_hR_I_i.glif</string>
	<key>sinGhRa</key>
	<string>sinG_hR_a.glif</string>
	<key>sinGhU</key>
	<string>sinG_hU_.glif</string>
	<key>sinGhUu</key>
	<string>sinG_hU_u.glif</string>
	<key>sinGha</key>
	<string>sinG_ha.glif</string>
	<key>sinH.halant</key>
	<string>sinH_.halant.glif</string>
	<key>sinHI</key>
	<string>sinH_I_.glif</string>
	<key>sinHIi</key>
	<string>sinH_I_i.glif</string>
	<key>sinHR.halant</key>
	<string>sinH_R_.halant.glif</string>
	<key>sinHRI</key>
	<string>sinH_R_I_.glif</string>
	<key>sinHRIi</key>
	<string>sinH_R_I_i.glif</string>
	<key>sinHRa</key>
	<string>sinH_R_a.glif</string>
	<key>sinHU</key>
	<string>sinH_U_.glif</string>
	<key>sinHUu</key>
	<string>sinH_U_u.glif</string>
	<key>sinHa</key>
	<string>sinH_a.glif</string>
	<key>sinHalant</key>
	<string>sinH_alant.glif</string>
	<key>sinI</key>
	<string>sinI_.glif</string>
	<key>sinIi</key>
	<string>sinI_i.glif</string>
	<key>sinJ.halant</key>
	<string>sinJ_.halant.glif</string>
	<key>sinJI</key>
	<string>sinJ_I_.glif</string>
	<key>sinJIi</key>
	<string>sinJ_I_i.glif</string>
	<key>sinJR.halant</key>
	<string>sinJ_R_.halant.glif</string>
	<key>sinJRI</key>
	<string>sinJ_R_I_.glif</string>
	<key>sinJRIi</key>
	<string>sinJ_R_I_i.glif</string>
	<key>sinJRa</key>
	<string>sinJ_R_a.glif</string>
	<key>sinJU</key>
	<string>sinJ_U_.glif</string>
	<key>sinJUu</key>
	<string>sinJ_U_u.glif</string>
	<key>sinJa</key>
	<string>sinJ_a.glif</string>
	<key>sinJh.halant</key>
	<string>sinJ_h.halant.glif</string>
	<key>sinJhI</key>
	<string>sinJ_hI_.glif</string>
	<key>sinJhIi</key>
	<string>sinJ_hI_i.glif</string>
	<key>sinJhR.halant</key>
	<string>sinJ_hR_.halant.glif</string>
	<key>sinJhRI</key>
	<string>sinJ_hR_I_.glif</string>
	<key>sinJhRIi</key>
	<string>sinJ_hR_I_i.glif</string>
	<key>sinJhRa</key>
	<string>sinJ_hR_a.glif</string>
	<key>sinJhU</key>
	<string>sinJ_hU_.glif</string>
	<key>sinJhUu</key>
	<string>sinJ_hU_u.glif</string>
	<key>sinJha</key>
	<string>sinJ_ha.glif</string>
	<key>sinJny.halant</key>
	<string>sinJ_ny.halant.glif</string>
	<key>sinJnyAa</key>
	<string>sinJ_nyA_a.glif</string>
	<key>sinJnyAa.halant</key>
	<string>sinJ_nyA_a.halant.glif</string>
	<key>sinJnyI</key>
	<string>sinJ_nyI_.glif</string>
	<key>sinJnyIi</key>
	<string>sinJ_nyI_i.glif</string>
	<key>sinJnyR.halant</key>
	<string>sinJ_nyR_.halant.glif</string>
	<key>sinJnyRI</key>
	<string>sinJ_nyR_I_.glif</string>
	<key>sinJnyRIi</key>
	<string>sinJ_nyR_I_i.glif</string>
	<key>sinJnyRa</key>
	<string>sinJ_nyR_a.glif</string>
	<key>sinJnyU</key>
	<string>sinJ_nyU_.glif</string>
	<key>sinJnyUu</key>
	<string>sinJ_nyU_u.glif</string>
	<key>sinJnya</key>
	<string>sinJ_nya.glif</string>
	<key>sinK.halant</key>
	<string>sinK_.halant.glif</string>
	<key>sinKI</key>
	<string>sinK_I_.glif</string>
	<key>sinKIi</key>
	<string>sinK_I_i.glif</string>
	<key>sinKRI</key>
	<string>sinK_R_I_.glif</string>
	<key>sinKRIi</key>
	<string>sinK_R_I_i.glif</string>
	<key>sinKRa</key>
	<string>sinK_R_a.glif</string>
	<key>sinKSs.halant</key>
	<string>sinK_S_s.halant.glif</string>
	<key>sinKSsI</key>
	<string>sinK_S_sI_.glif</string>
	<key>sinKSsIi</key>
	<string>sinK_S_sI_i.glif</string>
	<key>sinKSsU</key>
	<string>sinK_S_sU_.glif</string>
	<key>sinKSsUu</key>
	<string>sinK_S_sU_u.glif</string>
	<key>sinKSsa</key>
	<string>sinK_S_sa.glif</string>
	<key>sinKU</key>
	<string>sinK_U_.glif</string>
	<key>sinKUu</key>
	<string>sinK_U_u.glif</string>
	<key>sinKV.halant</key>
	<string>sinK_V_.halant.glif</string>
	<key>sinKVI</key>
	<string>sinK_V_I_.glif</string>
	<key>sinKVIi</key>
	<string>sinK_V_I_i.glif</string>
	<key>sinKVU</key>
	<string>sinK_V_U_.glif</string>
	<key>sinKVUu</key>
	<string>sinK_V_U_u.glif</string>
	<key>sinKVa</key>
	<string>sinK_V_a.glif</string>
	<key>sinKa</key>
	<string>sinK_a.glif</string>
	<key>sinKa.half</key>
	<string>sinK_a.half.glif</string>
	<key>sinKh.halant</key>
	<string>sinK_h.halant.glif</string>
	<key>sinKhI</key>
	<string>sinK_hI_.glif</string>
	<key>sinKhIi</key>
	<string>sinK_hI_i.glif</string>
	<key>sinKhRa</key>
	<string>sinK_hR_a.glif</string>
	<key>sinKhU</key>
	<string>sinK_hU_.glif</string>
	<key>sinKhUu</key>
	<string>sinK_hU_u.glif</string>
	<key>sinKha</key>
	<string>sinK_ha.glif</string>
	<key>sinL.halant</key>
	<string>sinL_.halant.glif</string>
	<key>sinLI</key>
	<string>sinL_I_.glif</string>
	<key>sinLIi</key>
	<string>sinL_I_i.glif</string>
	<key>sinLU</key>
	<string>sinL_U_.glif</string>
	<key>sinLUu</key>
	<string>sinL_U_u.glif</string>
	<key>sinLa</key>
	<string>sinL_a.glif</string>
	<key>sinLl.halant</key>
	<string>sinL_l.halant.glif</string>
	<key>sinLlI</key>
	<string>sinL_lI_.glif</string>
	<key>sinLlIi</key>
	<string>sinL_lI_i.glif</string>
	<key>sinLlU</key>
	<string>sinL_lU_.glif</string>
	<key>sinLlUu</key>
	<string>sinL_lU_u.glif</string>
	<key>sinLla</key>
	<string>sinL_la.glif</string>
	<key>sinM.halant</key>
	<string>sinM_.halant.glif</string>
	<key>sinMI</key>
	<string>sinM_I_.glif</string>
	<key>sinMIi</key>
	<string>sinM_I_i.glif</string>
	<key>sinMRa</key>
	<string>sinM_R_a.glif</string>
	<key>sinMU</key>
	<string>sinM_U_.glif</string>
	<key>sinMUu</key>
	<string>sinM_U_u.glif</string>
	<key>sinMa</key>
	<string>sinM_a.glif</string>
	<key>sinMatraAa</key>
	<string>sinM_atraA_a.glif</string>
	<key>sinMatraAa.halant</key>
	<string>sinM_atraA_a.halant.glif</string>
	<key>sinMatraAae</key>
	<string>sinM_atraA_ae.glif</string>
	<key>sinMatraAe</key>
	<string>sinM_atraA_e.glif</string>
	<key>sinMatraAi</key>
	<string>sinM_atraA_i.glif</string>
	<key>sinMatraAu</key>
	<string>sinM_atraA_u.glif</string>
	<key>sinMatraE</key>
	<string>sinM_atraE_.glif</string>
	<key>sinMatraEe</key>
	<string>sinM_atraE_e.glif</string>
	<key>sinMatraI</key>
	<string>sinM_atraI_.glif</string>
	<key>sinMatraIi</key>
	<string>sinM_atraI_i.glif</string>
	<key>sinMatraLl</key>
	<string>sinM_atraL_l.glif</string>
	<key>sinMatraLs</key>
	<string>sinM_atraL_s.glif</string>
	<key>sinMatraO</key>
	<string>sinM_atraO_.glif</string>
	<key>sinMatraOo</key>
	<string>sinM_atraO_o.glif</string>
	<key>sinMatraR</key>
	<string>sinM_atraR_.glif</string>
	<key>sinMatraRr</key>
	<string>sinM_atraR_r.glif</string>
	<key>sinMatraU</key>
	<string>sinM_atraU_.glif</string>
	<key>sinMatraUu</key>
	<string>sinM_atraU_u.glif</string>
	<key>sinMb.halant</key>
	<string>sinM_b.halant.glif</string>
	<key>sinMbI</key>
	<string>sinM_bI_.glif</string>
	<key>sinMbIi</key>
	<string>sinM_bI_i.glif</string>
	<key>sinMbU</key>
	<string>sinM_bU_.glif</string>
	<key>sinMbUu</key>
	<string>sinM_bU_u.glif</string>
	<key>sinMba</key>
	<string>sinM_ba.glif</string>
	<key>sinN.halant</key>
	<string>sinN_.halant.glif</string>
	<key>sinND.halant</key>
	<string>sinN_D_.halant.glif</string>
	<key>sinNDAa.halant</key>
	<string>sinN_D_A_a.halant.glif</string>
	<key>sinNDAe</key>
	<string>sinN_D_A_e.glif</string>
	<key>sinNDAee</key>
	<string>sinN_D_A_ee.glif</string>
	<key>sinNDI</key>
	<string>sinN_D_I_.glif</string>
	<key>sinNDIi</key>
	<string>sinN_D_I_i.glif</string>
	<key>sinNDRI</key>
	<string>sinN_D_R_I_.glif</string>
	<key>sinNDRIi</key>
	<string>sinN_D_R_I_i.glif</string>
	<key>sinNDRa</key>
	<string>sinN_D_R_a.glif</string>
	<key>sinNDU</key>
	<string>sinN_D_U_.glif</string>
	<key>sinNDUu</key>
	<string>sinN_D_U_u.glif</string>
	<key>sinNDa</key>
	<string>sinN_D_a.glif</string>
	<key>sinNDh.halant</key>
	<string>sinN_D_h.halant.glif</string>
	<key>sinNDhI</key>
	<string>sinN_D_hI_.glif</string>
	<key>sinNDhIi</key>
	<string>sinN_D_hI_i.glif</string>
	<key>sinNDhU</key>
	<string>sinN_D_hU_.glif</string>
	<key>sinNDhUu</key>
	<string>sinN_D_hU_u.glif</string>
	<key>sinNI</key>
	<string>sinN_I_.glif</string>
	<key>sinNIi</key>
	<string>sinN_I_i.glif</string>
	<key>sinNTh.halant</key>
	<string>sinN_T_h.halant.glif</string>
	<key>sinNThI</key>
	<string>sinN_T_hI_.glif</string>
	<key>sinNThIi</key>
	<string>sinN_T_hI_i.glif</string>
	<key>sinNThU</key>
	<string>sinN_T_hU_.glif</string>
	<key>sinNThUu</key>
	<string>sinN_T_hU_u.glif</string>
	<key>sinNTha</key>
	<string>sinN_T_ha.glif</string>
	<key>sinNU</key>
	<string>sinN_U_.glif</string>
	<key>sinNUu</key>
	<string>sinN_U_u.glif</string>
	<key>sinNV.halant</key>
	<string>sinN_V_.halant.glif</string>
	<key>sinNVI</key>
	<string>sinN_V_I_.glif</string>
	<key>sinNVIi</key>
	<string>sinN_V_I_i.glif</string>
	<key>sinNVU</key>
	<string>sinN_V_U_.glif</string>
	<key>sinNVUu</key>
	<string>sinN_V_U_u.glif</string>
	<key>sinNa</key>
	<string>sinN_a.glif</string>
	<key>sinNd.halant</key>
	<string>sinN_d.halant.glif</string>
	<key>sinNdAa</key>
	<string>sinN_dA_a.glif</string>
	<key>sinNdAae</key>
	<string>sinN_dA_ae.glif</string>
	<key>sinNdI</key>
	<string>sinN_dI_.glif</string>
	<key>sinNdIi</key>
	<string>sinN_dI_i.glif</string>
	<key>sinNdRa</key>
	<string>sinN_dR_a.glif</string>
	<key>sinNdU</key>
	<string>sinN_dU_.glif</string>
	<key>sinNdUu</key>
	<string>sinN_dU_u.glif</string>
	<key>sinNda</key>
	<string>sinN_da.glif</string>
	<key>sinNdda.touch</key>
	<string>sinN_dda.touch.glif</string>
	<key>sinNdj.halant</key>
	<string>sinN_dj.halant.glif</string>
	<key>sinNdjI</key>
	<string>sinN_djI_.glif</string>
	<key>sinNdjIi</key>
	<string>sinN_djI_i.glif</string>
	<key>sinNdjR.halant</key>
	<string>sinN_djR_.halant.glif</string>
	<key>sinNdjRa</key>
	<string>sinN_djR_a.glif</string>
	<key>sinNdjU</key>
	<string>sinN_djU_.glif</string>
	<key>sinNdjUu</key>
	<string>sinN_djU_u.glif</string>
	<key>sinNdja</key>
	<string>sinN_dja.glif</string>
	<key>sinNg.halant</key>
	<string>sinN_g.halant.glif</string>
	<key>sinNgI</key>
	<string>sinN_gI_.glif</string>
	<key>sinNgIi</key>
	<string>sinN_gI_i.glif</string>
	<key>sinNga</key>
	<string>sinN_ga.glif</string>
	<key>sinNn.halant</key>
	<string>sinN_n.halant.glif</string>
	<key>sinNnI</key>
	<string>sinN_nI_.glif</string>
	<key>sinNnIi</key>
	<string>sinN_nI_i.glif</string>
	<key>sinNnU</key>
	<string>sinN_nU_.glif</string>
	<key>sinNnUu</key>
	<string>sinN_nU_u.glif</string>
	<key>sinNna</key>
	<string>sinN_na.glif</string>
	<key>sinNndd.halant</key>
	<string>sinN_ndd.halant.glif</string>
	<key>sinNnddI</key>
	<string>sinN_nddI_.glif</string>
	<key>sinNnddIi</key>
	<string>sinN_nddI_i.glif</string>
	<key>sinNnddU</key>
	<string>sinN_nddU_.glif</string>
	<key>sinNnddUu</key>
	<string>sinN_nddU_u.glif</string>
	<key>sinNndda</key>
	<string>sinN_ndda.glif</string>
	<key>sinNng.halant</key>
	<string>sinN_ng.halant.glif</string>
	<key>sinNngI</key>
	<string>sinN_ngI_.glif</string>
	<key>sinNngIi</key>
	<string>sinN_ngI_i.glif</string>
	<key>sinNngU</key>
	<string>sinN_ngU_.glif</string>
	<key>sinNngUu</key>
	<string>sinN_ngU_u.glif</string>
	<key>sinNnga</key>
	<string>sinN_nga.glif</string>
	<key>sinNy.halant</key>
	<string>sinN_y.halant.glif</string>
	<key>sinNyAa</key>
	<string>sinN_yA_a.glif</string>
	<key>sinNyI</key>
	<string>sinN_yI_.glif</string>
	<key>sinNyIi</key>
	<string>sinN_yI_i.glif</string>
	<key>sinNyR.halant</key>
	<string>sinN_yR_.halant.glif</string>
	<key>sinNyRI</key>
	<string>sinN_yR_I_.glif</string>
	<key>sinNyRIi</key>
	<string>sinN_yR_I_i.glif</string>
	<key>sinNyRa</key>
	<string>sinN_yR_a.glif</string>
	<key>sinNyU</key>
	<string>sinN_yU_.glif</string>
	<key>sinNyUu</key>
	<string>sinN_yU_u.glif</string>
	<key>sinNya</key>
	<string>sinN_ya.glif</string>
	<key>sinO</key>
	<string>sinO_.glif</string>
	<key>sinOo</key>
	<string>sinO_o.glif</string>
	<key>sinP.halant</key>
	<string>sinP_.halant.glif</string>
	<key>sinPI</key>
	<string>sinP_I_.glif</string>
	<key>sinPIi</key>
	<string>sinP_I_i.glif</string>
	<key>sinPR.halant</key>
	<string>sinP_R_.halant.glif</string>
	<key>sinPRI</key>
	<string>sinP_R_I_.glif</string>
	<key>sinPRIi</key>
	<string>sinP_R_I_i.glif</string>
	<key>sinPRa</key>
	<string>sinP_R_a.glif</string>
	<key>sinPU</key>
	<string>sinP_U_.glif</string>
	<key>sinPUu</key>
	<string>sinP_U_u.glif</string>
	<key>sinPa</key>
	<string>sinP_a.glif</string>
	<key>sinPh.halant</key>
	<string>sinP_h.halant.glif</string>
	<key>sinPhI</key>
	<string>sinP_hI_.glif</string>
	<key>sinPhIi</key>
	<string>sinP_hI_i.glif</string>
	<key>sinPhU</key>
	<string>sinP_hU_.glif</string>
	<key>sinPhUu</key>
	<string>sinP_hU_u.glif</string>
	<key>sinPha</key>
	<string>sinP_ha.glif</string>
	<key>sinR.halant</key>
	<string>sinR_.halant.glif</string>
	<key>sinRAae</key>
	<string>sinR_A_ae.glif</string>
	<key>sinRAe</key>
	<string>sinR_A_e.glif</string>
	<key>sinRI</key>
	<string>sinR_I_.glif</string>
	<key>sinRIi</key>
	<string>sinR_I_i.glif</string>
	<key>sinRU</key>
	<string>sinR_U_.glif</string>
	<key>sinRUu</key>
	<string>sinR_U_u.glif</string>
	<key>sinRa</key>
	<string>sinR_a.glif</string>
	<key>sinRakar</key>
	<string>sinR_akar.glif</string>
	<key>sinReph</key>
	<string>sinR_eph.glif</string>
	<key>sinS.halant</key>
	<string>sinS_.halant.glif</string>
	<key>sinSI</key>
	<string>sinS_I_.glif</string>
	<key>sinSIi</key>
	<string>sinS_I_i.glif</string>
	<key>sinSR.halant</key>
	<string>sinS_R_.halant.glif</string>
	<key>sinSRI</key>
	<string>sinS_R_I_.glif</string>
	<key>sinSRa</key>
	<string>sinS_R_a.glif</string>
	<key>sinSU</key>
	<string>sinS_U_.glif</string>
	<key>sinSUu</key>
	<string>sinS_U_u.glif</string>
	<key>sinSa</key>
	<string>sinS_a.glif</string>
	<key>sinSh.halant</key>
	<string>sinS_h.halant.glif</string>
	<key>sinShI</key>
	<string>sinS_hI_.glif</string>
	<key>sinShIi</key>
	<string>sinS_hI_i.glif</string>
	<key>sinShR.halant</key>
	<string>sinS_hR_.halant.glif</string>
	<key>sinShRI</key>
	<string>sinS_hR_I_.glif</string>
	<key>sinShRIi</key>
	<string>sinS_hR_I_i.glif</string>
	<key>sinShRa</key>
	<string>sinS_hR_a.glif</string>
	<key>sinShU</key>
	<string>sinS_hU_.glif</string>
	<key>sinShUu</key>
	<string>sinS_hU_u.glif</string>
	<key>sinSha</key>
	<string>sinS_ha.glif</string>
	<key>sinSsI</key>
	<string>sinS_sI_.glif</string>
	<key>sinSsIi</key>
	<string>sinS_sI_i.glif</string>
	<key>sinSsU</key>
	<string>sinS_sU_.glif</string>
	<key>sinSsUu</key>
	<string>sinS_sU_u.glif</string>
	<key>sinSsa</key>
	<string>sinS_sa.glif</string>
	<key>sinT.halant</key>
	<string>sinT_.halant.glif</string>
	<key>sinTI</key>
	<string>sinT_I_.glif</string>
	<key>sinTIi</key>
	<string>sinT_I_i.glif</string>
	<key>sinTR.halant</key>
	<string>sinT_R_.halant.glif</string>
	<key>sinTRI</key>
	<string>sinT_R_I_.glif</string>
	<key>sinTRIi</key>
	<string>sinT_R_I_i.glif</string>
	<key>sinTRa</key>
	<string>sinT_R_a.glif</string>
	<key>sinTThI</key>
	<string>sinT_T_hI_.glif</string>
	<key>sinTThIi</key>
	<string>sinT_T_hI_i.glif</string>
	<key>sinTU</key>
	<string>sinT_U_.glif</string>
	<key>sinTUu</key>
	<string>sinT_U_u.glif</string>
	<key>sinTVI</key>
	<string>sinT_V_I_.glif</string>
	<key>sinTVIi</key>
	<string>sinT_V_I_i.glif</string>
	<key>sinTVU</key>
	<string>sinT_V_U_.glif</string>
	<key>sinTVUu</key>
	<string>sinT_V_U_u.glif</string>
	<key>sinTa</key>
	<string>sinT_a.glif</string>
	<key>sinTh.halant</key>
	<string>sinT_h.halant.glif</string>
	<key>sinThI</key>
	<string>sinT_hI_.glif</string>
	<key>sinThIi</key>
	<string>sinT_hI_i.glif</string>
	<key>sinThU</key>
	<string>sinT_hU_.glif</string>
	<key>sinThUu</key>
	<string>sinT_hU_u.glif</string>
	<key>sinTha</key>
	<string>sinT_ha.glif</string>
	<key>sinTt.halant</key>
	<string>sinT_t.halant.glif</string>
	<key>sinTtI</key>
	<string>sinT_tI_.glif</string>
	<key>sinTtIi</key>
	<string>sinT_tI_i.glif</string>
	<key>sinTtTth.halant</key>
	<string>sinT_tT_th.halant.glif</string>
	<key>sinTtTthI</key>
	<string>sinT_tT_thI_.glif</string>
	<key>sinTtTthIi</key>
	<string>sinT_tT_thI_i.glif</string>
	<key>sinTtTthU</key>
	<string>sinT_tT_thU_.glif</string>
	<key>sinTtTthUu</key>
	<string>sinT_tT_thU_u.glif</string>
	<key>sinTtU</key>
	<string>sinT_tU_.glif</string>
	<key>sinTtUu</key>
	<string>sinT_tU_u.glif</string>
	<key>sinTta</key>
	<string>sinT_ta.glif</string>
	<key>sinTth.halant</key>
	<string>sinT_th.halant.glif</string>
	<key>sinTthI</key>
	<string>sinT_thI_.glif</string>
	<key>sinTthIi</key>
	<string>sinT_thI_i.glif</string>
	<key>sinTthU</key>
	<string>sinT_thU_.glif</string>
	<key>sinTthUu</key>
	<string>sinT_thU_u.glif</string>
	<key>sinTtha</key>
	<string>sinT_tha.glif</string>
	<key>sinU</key>
	<string>sinU_.glif</string>
	<key>sinUu</key>
	<string>sinU_u.glif</string>
	<key>sinV.halant</key>
	<string>sinV_.halant.glif</string>
	<key>sinVI</key>
	<string>sinV_I_.glif</string>
	<key>sinVIi</key>
	<string>sinV_I_i.glif</string>
	<key>sinVRa</key>
	<string>sinV_R_a.glif</string>
	<key>sinVU</key>
	<string>sinV_U_.glif</string>
	<key>sinVUu</key>
	<string>sinV_U_u.glif</string>
	<key>sinVa</key>
	<string>sinV_a.glif</string>
	<key>sinY.halant</key>
	<string>sinY_.halant.glif</string>
	<key>sinYI</key>
	<string>sinY_I_.glif</string>
	<key>sinYIi</key>
	<string>sinY_I_i.glif</string>
	<key>sinYU</key>
	<string>sinY_U_.glif</string>
	<key>sinYUu</key>
	<string>sinY_U_u.glif</string>
	<key>sinYa</key>
	<string>sinY_a.glif</string>
	<key>sinkundaliya</key>
	<string>sinkundaliya.glif</string>
	<key>sinvocalicL</key>
	<string>sinvocalicL_.glif</string>
	<key>sinvocalicLL</key>
	<string>sinvocalicL_L_.glif</string>
	<key>sinvocalicR</key>
	<string>sinvocalicR_.glif</string>
	<key>sinvocalicRr</key>
	<string>sinvocalicR_r.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>taA</key>
	<string>taA_.glif</string>
	<key>taAa</key>
	<string>taA_a.glif</string>
	<key>taAbove</key>
	<string>taA_bove.glif</string>
	<key>taAi</key>
	<string>taA_i.glif</string>
	<key>taAnusvara</key>
	<string>taA_nusvara.glif</string>
	<key>taAu</key>
	<string>taA_u.glif</string>
	<key>taAuLengthmark</key>
	<string>taA_uL_engthmark.glif</string>
	<key>taCU</key>
	<string>taC_U_.glif</string>
	<key>taCUu</key>
	<string>taC_U_u.glif</string>
	<key>taCa</key>
	<string>taC_a.glif</string>
	<key>taCredit</key>
	<string>taC_redit.glif</string>
	<key>taDay</key>
	<string>taD_ay.glif</string>
	<key>taDebit</key>
	<string>taD_ebit.glif</string>
	<key>taE</key>
	<string>taE_.glif</string>
	<key>taEe</key>
	<string>taE_e.glif</string>
	<key>taHa</key>
	<string>taH_a.glif</string>
	<key>taHalant</key>
	<string>taH_alant.glif</string>
	<key>taI</key>
	<string>taI_.glif</string>
	<key>taIi</key>
	<string>taI_i.glif</string>
	<key>taJa</key>
	<string>taJ_a.glif</string>
	<key>taKSsa</key>
	<string>taK_S_sa.glif</string>
	<key>taKU</key>
	<string>taK_U_.glif</string>
	<key>taKUu</key>
	<string>taK_U_u.glif</string>
	<key>taKa</key>
	<string>taK_a.glif</string>
	<key>taLU</key>
	<string>taL_U_.glif</string>
	<key>taLUu</key>
	<string>taL_U_u.glif</string>
	<key>taLa</key>
	<string>taL_a.glif</string>
	<key>taLlU</key>
	<string>taL_lU_.glif</string>
	<key>taLlUu</key>
	<string>taL_lU_u.glif</string>
	<key>taLla</key>
	<string>taL_la.glif</string>
	<key>taLllU</key>
	<string>taL_llU_.glif</string>
	<key>taLllUu</key>
	<string>taL_llU_u.glif</string>
	<key>taLlla</key>
	<string>taL_lla.glif</string>
	<key>taMU</key>
	<string>taM_U_.glif</string>
	<key>taMUu</key>
	<string>taM_U_u.glif</string>
	<key>taMa</key>
	<string>taM_a.glif</string>
	<key>taMatraAa</key>
	<string>taM_atraA_a.glif</string>
	<key>taMatraAi</key>
	<string>taM_atraA_i.glif</string>
	<key>taMatraAi.alt</key>
	<string>taM_atraA_i.alt.glif</string>
	<key>taMatraAu</key>
	<string>taM_atraA_u.glif</string>
	<key>taMatraE</key>
	<string>taM_atraE_.glif</string>
	<key>taMatraEe</key>
	<string>taM_atraE_e.glif</string>
	<key>taMatraI</key>
	<string>taM_atraI_.glif</string>
	<key>taMatraI.alt1</key>
	<string>taM_atraI_.alt1.glif</string>
	<key>taMatraI.alt2</key>
	<string>taM_atraI_.alt2.glif</string>
	<key>taMatraI.alt3</key>
	<string>taM_atraI_.alt3.glif</string>
	<key>taMatraI.alt4</key>
	<string>taM_atraI_.alt4.glif</string>
	<key>taMatraI.alt5</key>
	<string>taM_atraI_.alt5.glif</string>
	<key>taMatraI.alt6</key>
	<string>taM_atraI_.alt6.glif</string>
	<key>taMatraI.alt7</key>
	<string>taM_atraI_.alt7.glif</string>
	<key>taMatraI.alt8</key>
	<string>taM_atraI_.alt8.glif</string>
	<key>taMatraI.stylalt1</key>
	<string>taM_atraI_.stylalt1.glif</string>
	<key>taMatraIi</key>
	<string>taM_atraI_i.glif</string>
	<key>taMatraIi.alt1</key>
	<string>taM_atraI_i.alt1.glif</string>
	<key>taMatraIi.alt2</key>
	<string>taM_atraI_i.alt2.glif</string>
	<key>taMatraIi.alt3</key>
	<string>taM_atraI_i.alt3.glif</string>
	<key>taMatraIi.stylalt1</key>
	<string>taM_atraI_i.stylalt1.glif</string>
	<key>taMatraO</key>
	<string>taM_atraO_.glif</string>
	<key>taMatraOo</key>
	<string>taM_atraO_o.glif</string>
	<key>taMatraU</key>
	<string>taM_atraU_.glif</string>
	<key>taMatraU.alt1</key>
	<string>taM_atraU_.alt1.glif</string>
	<key>taMatraUu</key>
	<string>taM_atraU_u.glif</string>
	<key>taMonth</key>
	<string>taM_onth.glif</string>
	<key>taNU</key>
	<string>taN_U_.glif</string>
	<key>taNUu</key>
	<string>taN_U_u.glif</string>
	<key>taNa</key>
	<string>taN_a.glif</string>
	<key>taNgUu</key>
	<string>taN_gU_u.glif</string>
	<key>taNga</key>
	<string>taN_ga.glif</string>
	<key>taNnAa.alt</key>
	<string>taN_nA_a.alt.glif</string>
	<key>taNnU</key>
	<string>taN_nU_.glif</string>
	<key>taNnUu</key>
	<string>taN_nU_u.glif</string>
	<key>taNna</key>
	<string>taN_na.glif</string>
	<key>taNnnAa.alt</key>
	<string>taN_nnA_a.alt.glif</string>
	<key>taNnnU</key>
	<string>taN_nnU_.glif</string>
	<key>taNnnUu</key>
	<string>taN_nnU_u.glif</string>
	<key>taNnna</key>
	<string>taN_nna.glif</string>
	<key>taNumber</key>
	<string>taN_umber.glif</string>
	<key>taNyU</key>
	<string>taN_yU_.glif</string>
	<key>taNyUu</key>
	<string>taN_yU_u.glif</string>
	<key>taNya</key>
	<string>taN_ya.glif</string>
	<key>taO</key>
	<string>taO_.glif</string>
	<key>taOm</key>
	<string>taO_m.glif</string>
	<key>taOo</key>
	<string>taO_o.glif</string>
	<key>taPUu</key>
	<string>taP_U_u.glif</string>
	<key>taPa</key>
	<string>taP_a.glif</string>
	<key>taRU</key>
	<string>taR_U_.glif</string>
	<key>taRUu</key>
	<string>taR_U_u.glif</string>
	<key>taRa</key>
	<string>taR_a.glif</string>
	<key>taRrAa.alt</key>
	<string>taR_rA_a.alt.glif</string>
	<key>taRrU</key>
	<string>taR_rU_.glif</string>
	<key>taRrUu</key>
	<string>taR_rU_u.glif</string>
	<key>taRra</key>
	<string>taR_ra.glif</string>
	<key>taSa</key>
	<string>taS_a.glif</string>
	<key>taSha</key>
	<string>taS_ha.glif</string>
	<key>taShree</key>
	<string>taS_hree.glif</string>
	<key>taSsa</key>
	<string>taS_sa.glif</string>
	<key>taTU</key>
	<string>taT_U_.glif</string>
	<key>taTUu</key>
	<string>taT_U_u.glif</string>
	<key>taTa</key>
	<string>taT_a.glif</string>
	<key>taTtI</key>
	<string>taT_tI_.glif</string>
	<key>taTtIi</key>
	<string>taT_tI_i.glif</string>
	<key>taTtU</key>
	<string>taT_tU_.glif</string>
	<key>taTtUu</key>
	<string>taT_tU_u.glif</string>
	<key>taTta</key>
	<string>taT_ta.glif</string>
	<key>taU</key>
	<string>taU_.glif</string>
	<key>taUu</key>
	<string>taU_u.glif</string>
	<key>taVUu</key>
	<string>taV_U_u.glif</string>
	<key>taVa</key>
	<string>taV_a.glif</string>
	<key>taVisarga</key>
	<string>taV_isarga.glif</string>
	<key>taYUu</key>
	<string>taY_U_u.glif</string>
	<key>taYa</key>
	<string>taY_a.glif</string>
	<key>taYear</key>
	<string>taY_ear.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tml_MatraU.alt1</key>
	<string>tml_M_atraU_.alt1.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>visarga</key>
	<string>visarga.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
