<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>AA78C373-A874-4B43-A7A1-B39102DDD1E4</key>
		<dict>
			<key>HH</key>
			<integer>27</integer>
			<key>HV</key>
			<integer>140</integer>
			<key>OH</key>
			<integer>29</integer>
			<key>OV</key>
			<integer>157</integer>
			<key>nV</key>
			<integer>127</integer>
			<key>oH</key>
			<integer>26</integer>
			<key>oV</key>
			<integer>137</integer>
		</dict>
		<key>C18F3EFD-FA9C-4751-AD2F-5B966120D1A5</key>
		<dict>
			<key>HH</key>
			<integer>26</integer>
			<key>HV</key>
			<integer>85</integer>
			<key>OH</key>
			<integer>28</integer>
			<key>OV</key>
			<integer>100</integer>
			<key>nV</key>
			<integer>75</integer>
			<key>nd</key>
			<integer>45</integer>
			<key>oH</key>
			<integer>25</integer>
			<key>oV</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string></string>
		<string>
</string>
		<string>/sinKa.half</string>
		<string>/sinKa.half</string>
		<string></string>
		<string></string>
		<string></string>
		<string>/sinNngUu</string>
		<string>/sinNy.halant</string>
		<string></string>
		<string>/sinPUu</string>
		<string>/sinPRa/sinPR.halant/sinPRI/sinPU/sinPRIi/sinPUu</string>
		<string>/taPUu</string>
		<string>/taPUu/sinPUu</string>
		<string>/taPUu/sinPUu</string>
		<string>/sinR.halant/sinRAae/sinRU/sinRUu</string>
		<string>/sinSh.halant</string>
		<string>/sinP.halant</string>
		<string>/sinNn.halant</string>
		<string>/taTtU/taTtUu</string>
		<string>/taTtI</string>
		<string>/taKU</string>
		<string>/taKU</string>
		<string>/sinTtI/sinTtIi</string>
		<string>/taRUu</string>
		<string>/taRU</string>
		<string>/taRrU/taRrUu/taTU/taTUu</string>
		<string>/taKSsa</string>
		<string>/sinNnI</string>
		<string>/sinNTha/sinNThU</string>
		<string>/sinA/sinAa/sinAe/sinAee/sinAi/sinAu/sinBa/sinBha/sinCa/sinCha/sinDa/sinDda/sinDdha/sinDha/sinE/sinEe/sinFa/sinGa/sinGha/sinHa/sinI/sinIi/sinJa/sinJha/sinJnya/sinKa/sinKha/sinLa/sinLla/sinMa/sinMba/sinNa/sinNda/sinNdja/sinNga/sinNna/sinNndda/sinNnga/sinNya/sinO/sinOo/sinPa/sinPha/sinRa/sinSa/sinSha/sinSsa/sinTa/sinTha/sinTta/sinTtha/sinU/sinUu/sinVa/sinYa/sinvocalicL/sinvocalicLL/sinvocalicR/sinvocalicRr</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.Axes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Weight</string>
			<key>Tag</key>
			<string>wght</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>angle</key>
		<integer>0</integer>
		<key>height</key>
		<integer>10</integer>
		<key>width</key>
		<integer>50</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>C18F3EFD-FA9C-4751-AD2F-5B966120D1A5</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAe</string>
		<string>sinAee</string>
		<string>sinAi</string>
		<string>sinAu</string>
		<string>sinBa</string>
		<string>sinBha</string>
		<string>sinCa</string>
		<string>sinCha</string>
		<string>sinDa</string>
		<string>sinDda</string>
		<string>sinDdha</string>
		<string>sinDha</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJa</string>
		<string>sinJha</string>
		<string>sinJnya</string>
		<string>sinKa</string>
		<string>sinKha</string>
		<string>sinLa</string>
		<string>sinLla</string>
		<string>sinMa</string>
		<string>sinMba</string>
		<string>sinNa</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNna</string>
		<string>sinNndda</string>
		<string>sinNnga</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPha</string>
		<string>sinRa</string>
		<string>sinSa</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinTha</string>
		<string>sinTta</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVa</string>
		<string>sinYa</string>
		<string>sinvocalicL</string>
		<string>sinvocalicLL</string>
		<string>sinvocalicR</string>
		<string>sinvocalicRr</string>
		<string>taA</string>
		<string>taAa</string>
		<string>taI</string>
		<string>taIi</string>
		<string>taU</string>
		<string>taUu</string>
		<string>taE</string>
		<string>taEe</string>
		<string>taAi</string>
		<string>taO</string>
		<string>taOo</string>
		<string>taAu</string>
		<string>taKa</string>
		<string>taNga</string>
		<string>taCa</string>
		<string>taJa</string>
		<string>taNya</string>
		<string>taTta</string>
		<string>taNna</string>
		<string>taTa</string>
		<string>taNa</string>
		<string>taNnna</string>
		<string>taPa</string>
		<string>taMa</string>
		<string>taYa</string>
		<string>taRa</string>
		<string>taRra</string>
		<string>taLa</string>
		<string>taLla</string>
		<string>taLlla</string>
		<string>taVa</string>
		<string>taSha</string>
		<string>taSsa</string>
		<string>taSa</string>
		<string>taHa</string>
		<string>taOm</string>
		<string>taVisarga</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>sinkundaliya</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>dollar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>taDay</string>
		<string>taMonth</string>
		<string>taYear</string>
		<string>taDebit</string>
		<string>taCredit</string>
		<string>taAbove</string>
		<string>taNumber</string>
		<string>taMatraAa</string>
		<string>taMatraI</string>
		<string>taMatraI.alt1</string>
		<string>taMatraI.alt2</string>
		<string>taMatraI.alt3</string>
		<string>taMatraI.alt4</string>
		<string>taMatraI.alt5</string>
		<string>taMatraI.alt6</string>
		<string>taMatraI.alt7</string>
		<string>taMatraI.alt8</string>
		<string>taMatraI.stylalt1</string>
		<string>taMatraIi</string>
		<string>taMatraIi.alt1</string>
		<string>taMatraIi.alt2</string>
		<string>taMatraIi.alt3</string>
		<string>taMatraIi.stylalt1</string>
		<string>taMatraU</string>
		<string>taMatraU.alt1</string>
		<string>taMatraUu</string>
		<string>taMatraE</string>
		<string>taMatraEe</string>
		<string>taMatraAi</string>
		<string>taMatraAi.alt</string>
		<string>taMatraO</string>
		<string>taMatraOo</string>
		<string>taMatraAu</string>
		<string>taHalant</string>
		<string>taAuLengthmark</string>
		<string>taAnusvara</string>
		<string>anusvara</string>
		<string>sinHalant</string>
		<string>sinMatraAa</string>
		<string>sinMatraAae</string>
		<string>sinMatraAe</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraLl</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraR</string>
		<string>sinMatraRr</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>visarga</string>
		<string>sinMatraAa.halant</string>
		<string>taCU</string>
		<string>taCUu</string>
		<string>taKU</string>
		<string>taKUu</string>
		<string>taLU</string>
		<string>taLUu</string>
		<string>taLlU</string>
		<string>taLlUu</string>
		<string>taLllU</string>
		<string>taLllUu</string>
		<string>taMU</string>
		<string>taMUu</string>
		<string>taNU</string>
		<string>taNUu</string>
		<string>taNgUu</string>
		<string>taNnU</string>
		<string>taNnUu</string>
		<string>taNnnU</string>
		<string>taNnnUu</string>
		<string>taNyU</string>
		<string>taNyUu</string>
		<string>taPUu</string>
		<string>taRU</string>
		<string>taRUu</string>
		<string>taTtI</string>
		<string>taTtU</string>
		<string>taTtUu</string>
		<string>taYUu</string>
		<string>taNnAa.alt</string>
		<string>taNnnAa.alt</string>
		<string>taRrAa.alt</string>
		<string>taKSsa</string>
		<string>taShree</string>
		<string>taTtIi</string>
		<string>sinBI</string>
		<string>sinBIi</string>
		<string>sinBhI</string>
		<string>sinBhIi</string>
		<string>sinCI</string>
		<string>sinCIi</string>
		<string>sinChI</string>
		<string>sinChIi</string>
		<string>sinDDhI</string>
		<string>sinDDhIi</string>
		<string>sinDI</string>
		<string>sinDIi</string>
		<string>sinDVI</string>
		<string>sinDVIi</string>
		<string>sinDdI</string>
		<string>sinDdIi</string>
		<string>sinDdhI</string>
		<string>sinDdhIi</string>
		<string>sinDhI</string>
		<string>sinDhIi</string>
		<string>sinFI</string>
		<string>sinFIi</string>
		<string>sinGI</string>
		<string>sinGIi</string>
		<string>sinGhI</string>
		<string>sinGhIi</string>
		<string>sinHI</string>
		<string>sinHIi</string>
		<string>sinJI</string>
		<string>sinJIi</string>
		<string>sinJhI</string>
		<string>sinJhIi</string>
		<string>sinJnyI</string>
		<string>sinJnyIi</string>
		<string>sinKI</string>
		<string>sinKIi</string>
		<string>sinKSsI</string>
		<string>sinKSsIi</string>
		<string>sinKVI</string>
		<string>sinKVIi</string>
		<string>sinKhI</string>
		<string>sinKhIi</string>
		<string>sinLI</string>
		<string>sinLIi</string>
		<string>sinLlI</string>
		<string>sinLlIi</string>
		<string>sinMI</string>
		<string>sinMIi</string>
		<string>sinMbI</string>
		<string>sinMbIi</string>
		<string>sinNDI</string>
		<string>sinNDIi</string>
		<string>sinNDhI</string>
		<string>sinNDhIi</string>
		<string>sinNI</string>
		<string>sinNIi</string>
		<string>sinNThI</string>
		<string>sinNThIi</string>
		<string>sinNVI</string>
		<string>sinNVIi</string>
		<string>sinNdI</string>
		<string>sinNdIi</string>
		<string>sinNdjI</string>
		<string>sinNdjIi</string>
		<string>sinNgI</string>
		<string>sinNgIi</string>
		<string>sinNnI</string>
		<string>sinNnIi</string>
		<string>sinNngI</string>
		<string>sinNngIi</string>
		<string>sinNyI</string>
		<string>sinNyIi</string>
		<string>sinPI</string>
		<string>sinPIi</string>
		<string>sinPhI</string>
		<string>sinPhIi</string>
		<string>sinRI</string>
		<string>sinRIi</string>
		<string>sinSI</string>
		<string>sinSIi</string>
		<string>sinShI</string>
		<string>sinShIi</string>
		<string>sinSsI</string>
		<string>sinSsIi</string>
		<string>sinTI</string>
		<string>sinTIi</string>
		<string>sinTThI</string>
		<string>sinTThIi</string>
		<string>sinTVI</string>
		<string>sinTVIi</string>
		<string>sinThI</string>
		<string>sinThIi</string>
		<string>sinTtI</string>
		<string>sinTtIi</string>
		<string>sinTthI</string>
		<string>sinTthIi</string>
		<string>sinVI</string>
		<string>sinVIi</string>
		<string>sinYI</string>
		<string>sinYIi</string>
		<string>sinKSsa</string>
		<string>sinKVa</string>
		<string>sinNDa</string>
		<string>sinK.halant</string>
		<string>sinRakar</string>
		<string>sinReph</string>
		<string>tml_MatraU.alt1</string>
		<string>taVUu</string>
		<string>sinRAe</string>
		<string>sinNdAa</string>
		<string>sinDUu</string>
		<string>sinNdUu</string>
		<string>sinDAe</string>
		<string>sinLlU</string>
		<string>sinLUu</string>
		<string>sinJnyAa</string>
		<string>sinDAa</string>
		<string>sinNdU</string>
		<string>sinNyU</string>
		<string>sinNyUu</string>
		<string>sinDU</string>
		<string>sinYU</string>
		<string>czechcaron</string>
		<string>mooniak</string>
		<string>sinBh.halant</string>
		<string>sinB.halant</string>
		<string>sinBhRa</string>
		<string>sinBhRI</string>
		<string>sinBhRa.halant</string>
		<string>sinBhRIi</string>
		<string>sinBhUu</string>
		<string>sinBhU</string>
		<string>sinBRa</string>
		<string>sinBRIi</string>
		<string>sinBR.halant</string>
		<string>sinBRI</string>
		<string>sinBU</string>
		<string>sinBUu</string>
		<string>sinCh.halant</string>
		<string>sinC.halant</string>
		<string>sinChU</string>
		<string>sinChUu</string>
		<string>sinCR.halant</string>
		<string>sinCRa</string>
		<string>sinCRI</string>
		<string>sinCRIi</string>
		<string>sinCU</string>
		<string>sinCUu</string>
		<string>sinD.halant</string>
		<string>sinDd.halant</string>
		<string>sinDdhU</string>
		<string>sinDdh.halant</string>
		<string>sinDdhUu</string>
		<string>sinDdRa</string>
		<string>sinDdR.halant</string>
		<string>sinDdRI</string>
		<string>sinDdRIi</string>
		<string>sinDdU</string>
		<string>sinDdUu</string>
		<string>sinDh.halant</string>
		<string>sinDhRa</string>
		<string>sinDhRI</string>
		<string>sinDhRIi</string>
		<string>sinDhU</string>
		<string>sinDhUu</string>
		<string>sinDvocR</string>
		<string>sinDVU</string>
		<string>sinDVUu</string>
		<string>sinDvocRr</string>
		<string>sinF.halant</string>
		<string>sinFR.halant</string>
		<string>sinFRa</string>
		<string>sinFU</string>
		<string>sinFRI</string>
		<string>sinFRIi</string>
		<string>sinG.halant</string>
		<string>sinFUu</string>
		<string>sinGh.halant</string>
		<string>sinGhR.halant</string>
		<string>sinGhRa</string>
		<string>sinGhRI</string>
		<string>sinGhRIi</string>
		<string>sinGhU</string>
		<string>sinGhUu</string>
		<string>sinGRa</string>
		<string>sinGR.halant</string>
		<string>sinGRIi</string>
		<string>sinGRI</string>
		<string>sinGUu</string>
		<string>sinH.halant</string>
		<string>sinGU</string>
		<string>sinHR.halant</string>
		<string>sinHRa</string>
		<string>sinHRI</string>
		<string>sinHU</string>
		<string>sinHUu</string>
		<string>sinHRIi</string>
		<string>sinJ.halant</string>
		<string>sinJhR.halant</string>
		<string>sinJhRa</string>
		<string>sinJhRI</string>
		<string>sinJhRIi</string>
		<string>sinJh.halant</string>
		<string>sinJhU</string>
		<string>sinJhUu</string>
		<string>sinJny.halant</string>
		<string>sinJnyR.halant</string>
		<string>sinJnyAa.halant</string>
		<string>sinJnyRa</string>
		<string>sinJR.halant</string>
		<string>sinJRa</string>
		<string>sinJnyRI</string>
		<string>sinJnyU</string>
		<string>sinJRI</string>
		<string>sinJU</string>
		<string>sinJnyRIi</string>
		<string>sinJnyUu</string>
		<string>sinJRIi</string>
		<string>sinJUu</string>
		<string>sinKhRa</string>
		<string>sinKh.halant</string>
		<string>sinKhU</string>
		<string>sinKhUu</string>
		<string>sinKRa</string>
		<string>sinKRI</string>
		<string>sinKRIi</string>
		<string>sinKSs.halant</string>
		<string>sinKSsU</string>
		<string>sinKSsUu</string>
		<string>sinKUu</string>
		<string>sinKU</string>
		<string>sinKVU</string>
		<string>sinKVUu</string>
		<string>sinL.halant</string>
		<string>sinKV.halant</string>
		<string>sinLl.halant</string>
		<string>sinLlUu</string>
		<string>sinLU</string>
		<string>sinM.halant</string>
		<string>sinMbU</string>
		<string>sinMbUu</string>
		<string>sinMb.halant</string>
		<string>sinMRa</string>
		<string>sinMU</string>
		<string>sinN.halant</string>
		<string>sinMUu</string>
		<string>sinNd.halant</string>
		<string>sinND.halant</string>
		<string>sinNDAa.halant</string>
		<string>sinNDAee</string>
		<string>sinNDAe</string>
		<string>sinNDhU</string>
		<string>sinNDhUu</string>
		<string>sinNDh.halant</string>
		<string>sinNDRI</string>
		<string>sinNdda.touch</string>
		<string>sinNDU</string>
		<string>sinNDRIi</string>
		<string>sinNDUu</string>
		<string>sinNdAae</string>
		<string>sinNdj.halant</string>
		<string>sinNDRa</string>
		<string>sinNdjU</string>
		<string>sinNdjRa</string>
		<string>sinNdjR.halant</string>
		<string>sinNdjUu</string>
		<string>sinNdRa</string>
		<string>sinNg.halant</string>
		<string>sinNn.halant</string>
		<string>sinNnddU</string>
		<string>sinNnddUu</string>
		<string>sinNndd.halant</string>
		<string>sinNng.halant</string>
		<string>sinNnddI</string>
		<string>sinNnddIi</string>
		<string>sinNngUu</string>
		<string>sinNngU</string>
		<string>sinNnU</string>
		<string>sinNnUu</string>
		<string>sinNTh.halant</string>
		<string>sinNThU</string>
		<string>sinNThUu</string>
		<string>sinNU</string>
		<string>sinNUu</string>
		<string>sinNVU</string>
		<string>sinNV.halant</string>
		<string>sinNVUu</string>
		<string>sinNy.halant</string>
		<string>sinNyR.halant</string>
		<string>sinNyAa</string>
		<string>sinP.halant</string>
		<string>sinNyRa</string>
		<string>sinNyRIi</string>
		<string>sinNyRI</string>
		<string>sinPhU</string>
		<string>sinPh.halant</string>
		<string>sinPhUu</string>
		<string>sinPRa</string>
		<string>sinPR.halant</string>
		<string>sinPRI</string>
		<string>sinPU</string>
		<string>sinPRIi</string>
		<string>sinPUu</string>
		<string>sinR.halant</string>
		<string>sinRAae</string>
		<string>sinRU</string>
		<string>sinRUu</string>
		<string>sinS.halant</string>
		<string>sinSh.halant</string>
		<string>sinShR.halant</string>
		<string>sinShU</string>
		<string>sinShRa</string>
		<string>sinSR.halant</string>
		<string>sinSRa</string>
		<string>sinSRI</string>
		<string>sinShUu</string>
		<string>sinShRI</string>
		<string>sinShRIi</string>
		<string>sinSsU</string>
		<string>sinSU</string>
		<string>sinSUu</string>
		<string>sinT.halant</string>
		<string>sinThU</string>
		<string>sinTh.halant</string>
		<string>sinSsUu</string>
		<string>sinThUu</string>
		<string>sinTR.halant</string>
		<string>sinTRa</string>
		<string>sinTRI</string>
		<string>sinTRIi</string>
		<string>sinTt.halant</string>
		<string>sinTthU</string>
		<string>sinTth.halant</string>
		<string>sinTthUu</string>
		<string>sinTtTthI</string>
		<string>sinTtTthU</string>
		<string>sinTtTth.halant</string>
		<string>sinTtTthUu</string>
		<string>sinTtU</string>
		<string>sinTtTthIi</string>
		<string>sinTtUu</string>
		<string>sinTUu</string>
		<string>sinTU</string>
		<string>sinTVU</string>
		<string>sinTVUu</string>
		<string>sinV.halant</string>
		<string>sinVRa</string>
		<string>sinVU</string>
		<string>sinVUu</string>
		<string>sinY.halant</string>
		<string>sinYUu</string>
		<string>sinKa.half</string>
		<string>taRrU</string>
		<string>taRrUu</string>
		<string>taTU</string>
		<string>taTUu</string>
		<string>sinNTha</string>
	</array>
</dict>
</plist>
