<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aiMatra-sinhala</key>
	<string>aiM_atra-sinhala.glif</string>
	<key>aiMatra-tamil</key>
	<string>aiM_atra-tamil.glif</string>
	<key>auMatra-sinhala</key>
	<string>auM_atra-sinhala.glif</string>
	<key>aytham-tamil</key>
	<string>aytham-tamil.glif</string>
	<key>bha-sinhala</key>
	<string>bha-sinhala.glif</string>
	<key>ca-sinhala</key>
	<string>ca-sinhala.glif</string>
	<key>ca-tamil</key>
	<string>ca-tamil.glif</string>
	<key>cha-sinhala</key>
	<string>cha-sinhala.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>credit-tamil</key>
	<string>credit-tamil.glif</string>
	<key>czechcaron</key>
	<string>czechcaron.glif</string>
	<key>da-sinhala</key>
	<string>da-sinhala.glif</string>
	<key>day-tamil</key>
	<string>day-tamil.glif</string>
	<key>ddha-sinhala</key>
	<string>ddha-sinhala.glif</string>
	<key>debit-tamil</key>
	<string>debit-tamil.glif</string>
	<key>dha-sinhala</key>
	<string>dha-sinhala.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e-sinhala</key>
	<string>e-sinhala.glif</string>
	<key>e-tamil</key>
	<string>e-tamil.glif</string>
	<key>eMatra-sinhala</key>
	<string>eM_atra-sinhala.glif</string>
	<key>eMatra-tamil</key>
	<string>eM_atra-tamil.glif</string>
	<key>ee-sinhala</key>
	<string>ee-sinhala.glif</string>
	<key>ee-tamil</key>
	<string>ee-tamil.glif</string>
	<key>eeMatra-sinhala</key>
	<string>eeM_atra-sinhala.glif</string>
	<key>eeMatra-tamil</key>
	<string>eeM_atra-tamil.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>fa-sinhala</key>
	<string>fa-sinhala.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>ga-sinhala</key>
	<string>ga-sinhala.glif</string>
	<key>gha-sinhala</key>
	<string>gha-sinhala.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>ha-sinhala</key>
	<string>ha-sinhala.glif</string>
	<key>ha-tamil</key>
	<string>ha-tamil.glif</string>
	<key>i-sinhala</key>
	<string>i-sinhala.glif</string>
	<key>i-tamil</key>
	<string>i-tamil.glif</string>
	<key>iMatra-sinhala</key>
	<string>iM_atra-sinhala.glif</string>
	<key>iMatra-tamil</key>
	<string>iM_atra-tamil.glif</string>
	<key>ii-sinhala</key>
	<string>ii-sinhala.glif</string>
	<key>ii-tamil</key>
	<string>ii-tamil.glif</string>
	<key>iiMatra-sinhala</key>
	<string>iiM_atra-sinhala.glif</string>
	<key>iiMatra-tamil</key>
	<string>iiM_atra-tamil.glif</string>
	<key>ja-sinhala</key>
	<string>ja-sinhala.glif</string>
	<key>ja-tamil</key>
	<string>ja-tamil.glif</string>
	<key>jha-sinhala</key>
	<string>jha-sinhala.glif</string>
	<key>jnya-sinhala</key>
	<string>jnya-sinhala.glif</string>
	<key>ka-sinhala</key>
	<string>ka-sinhala.glif</string>
	<key>ka-tamil</key>
	<string>ka-tamil.glif</string>
	<key>kha-sinhala</key>
	<string>kha-sinhala.glif</string>
	<key>kunddaliya-sinhala</key>
	<string>kunddaliya-sinhala.glif</string>
	<key>lVocalic-sinhala</key>
	<string>lV_ocalic-sinhala.glif</string>
	<key>lVocalicMatra-sinhala</key>
	<string>lV_ocalicM_atra-sinhala.glif</string>
	<key>la-sinhala</key>
	<string>la-sinhala.glif</string>
	<key>llVocalic-sinhala</key>
	<string>llV_ocalic-sinhala.glif</string>
	<key>llVocalicMatra-sinhala</key>
	<string>llV_ocalicM_atra-sinhala.glif</string>
	<key>lla-sinhala</key>
	<string>lla-sinhala.glif</string>
	<key>lla-tamil</key>
	<string>lla-tamil.glif</string>
	<key>ma-sinhala</key>
	<string>ma-sinhala.glif</string>
	<key>ma-tamil</key>
	<string>ma-tamil.glif</string>
	<key>mba-sinhala</key>
	<string>mba-sinhala.glif</string>
	<key>na-sinhala</key>
	<string>na-sinhala.glif</string>
	<key>na-tamil</key>
	<string>na-tamil.glif</string>
	<key>nda-sinhala</key>
	<string>nda-sinhala.glif</string>
	<key>nga-sinhala</key>
	<string>nga-sinhala.glif</string>
	<key>nga-tamil</key>
	<string>nga-tamil.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nna-sinhala</key>
	<string>nna-sinhala.glif</string>
	<key>nna-tamil</key>
	<string>nna-tamil.glif</string>
	<key>nnga-sinhala</key>
	<string>nnga-sinhala.glif</string>
	<key>nnna-tamil</key>
	<string>nnna-tamil.glif</string>
	<key>number-tamil</key>
	<string>number-tamil.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nya-sinhala</key>
	<string>nya-sinhala.glif</string>
	<key>nya-tamil</key>
	<string>nya-tamil.glif</string>
	<key>nyja-sinhala</key>
	<string>nyja-sinhala.glif</string>
	<key>o-sinhala</key>
	<string>o-sinhala.glif</string>
	<key>o-tamil</key>
	<string>o-tamil.glif</string>
	<key>oMatra-sinhala</key>
	<string>oM_atra-sinhala.glif</string>
	<key>oMatra-tamil</key>
	<string>oM_atra-tamil.glif</string>
	<key>om-tamil</key>
	<string>om-tamil.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oo-sinhala</key>
	<string>oo-sinhala.glif</string>
	<key>oo-tamil</key>
	<string>oo-tamil.glif</string>
	<key>ooMatra-sinhala</key>
	<string>ooM_atra-sinhala.glif</string>
	<key>ooMatra-tamil</key>
	<string>ooM_atra-tamil.glif</string>
	<key>pa-sinhala</key>
	<string>pa-sinhala.glif</string>
	<key>pa-tamil</key>
	<string>pa-tamil.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>pha-sinhala</key>
	<string>pha-sinhala.glif</string>
	<key>pulli-tamil</key>
	<string>pulli-tamil.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>rVocalic-sinhala</key>
	<string>rV_ocalic-sinhala.glif</string>
	<key>rVocalicMatra-sinhala</key>
	<string>rV_ocalicM_atra-sinhala.glif</string>
	<key>ra-sinhala</key>
	<string>ra-sinhala.glif</string>
	<key>ra-tamil</key>
	<string>ra-tamil.glif</string>
	<key>rrVocalic-sinhala</key>
	<string>rrV_ocalic-sinhala.glif</string>
	<key>rrVocalicMatra-sinhala</key>
	<string>rrV_ocalicM_atra-sinhala.glif</string>
	<key>rra-tamil</key>
	<string>rra-tamil.glif</string>
	<key>sa-sinhala</key>
	<string>sa-sinhala.glif</string>
	<key>sa-tamil</key>
	<string>sa-tamil.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sha-sinhala</key>
	<string>sha-sinhala.glif</string>
	<key>sha-tamil</key>
	<string>sha-tamil.glif</string>
	<key>sinB.halant</key>
	<string>sinB_.halant.glif</string>
	<key>sinBI</key>
	<string>sinB_I_.glif</string>
	<key>sinBIi</key>
	<string>sinB_I_i.glif</string>
	<key>sinBR.halant</key>
	<string>sinB_R_.halant.glif</string>
	<key>sinBRIi</key>
	<string>sinB_R_I_i.glif</string>
	<key>sinBRa</key>
	<string>sinB_R_a.glif</string>
	<key>sinBU</key>
	<string>sinB_U_.glif</string>
	<key>sinBUu</key>
	<string>sinB_U_u.glif</string>
	<key>sinBh.halant</key>
	<string>sinB_h.halant.glif</string>
	<key>sinBhI</key>
	<string>sinB_hI_.glif</string>
	<key>sinBhIi</key>
	<string>sinB_hI_i.glif</string>
	<key>sinBhRI</key>
	<string>sinB_hR_I_.glif</string>
	<key>sinBhRa</key>
	<string>sinB_hR_a.glif</string>
	<key>sinBhRa.halant</key>
	<string>sinB_hR_a.halant.glif</string>
	<key>sinBhU</key>
	<string>sinB_hU_.glif</string>
	<key>sinBhUu</key>
	<string>sinB_hU_u.glif</string>
	<key>sinC.halant</key>
	<string>sinC_.halant.glif</string>
	<key>sinCI</key>
	<string>sinC_I_.glif</string>
	<key>sinCIi</key>
	<string>sinC_I_i.glif</string>
	<key>sinCR.halant</key>
	<string>sinC_R_.halant.glif</string>
	<key>sinCRI</key>
	<string>sinC_R_I_.glif</string>
	<key>sinCRIi</key>
	<string>sinC_R_I_i.glif</string>
	<key>sinCRa</key>
	<string>sinC_R_a.glif</string>
	<key>sinCU</key>
	<string>sinC_U_.glif</string>
	<key>sinCUu</key>
	<string>sinC_U_u.glif</string>
	<key>sinCh.halant</key>
	<string>sinC_h.halant.glif</string>
	<key>sinChI</key>
	<string>sinC_hI_.glif</string>
	<key>sinChIi</key>
	<string>sinC_hI_i.glif</string>
	<key>sinChU</key>
	<string>sinC_hU_.glif</string>
	<key>sinChUu</key>
	<string>sinC_hU_u.glif</string>
	<key>sinD.halant</key>
	<string>sinD_.halant.glif</string>
	<key>sinDAa</key>
	<string>sinD_A_a.glif</string>
	<key>sinDAe</key>
	<string>sinD_A_e.glif</string>
	<key>sinDDhI</key>
	<string>sinD_D_hI_.glif</string>
	<key>sinDDhIi</key>
	<string>sinD_D_hI_i.glif</string>
	<key>sinDI</key>
	<string>sinD_I_.glif</string>
	<key>sinDIi</key>
	<string>sinD_I_i.glif</string>
	<key>sinDU</key>
	<string>sinD_U_.glif</string>
	<key>sinDUu</key>
	<string>sinD_U_u.glif</string>
	<key>sinDVI</key>
	<string>sinD_V_I_.glif</string>
	<key>sinDVIi</key>
	<string>sinD_V_I_i.glif</string>
	<key>sinDVU</key>
	<string>sinD_V_U_.glif</string>
	<key>sinDVUu</key>
	<string>sinD_V_U_u.glif</string>
	<key>sinDd.halant</key>
	<string>sinD_d.halant.glif</string>
	<key>sinDdI</key>
	<string>sinD_dI_.glif</string>
	<key>sinDdIi</key>
	<string>sinD_dI_i.glif</string>
	<key>sinDdR.halant</key>
	<string>sinD_dR_.halant.glif</string>
	<key>sinDdRI</key>
	<string>sinD_dR_I_.glif</string>
	<key>sinDdRIi</key>
	<string>sinD_dR_I_i.glif</string>
	<key>sinDdRa</key>
	<string>sinD_dR_a.glif</string>
	<key>sinDdU</key>
	<string>sinD_dU_.glif</string>
	<key>sinDdUu</key>
	<string>sinD_dU_u.glif</string>
	<key>sinDdh.halant</key>
	<string>sinD_dh.halant.glif</string>
	<key>sinDdhI</key>
	<string>sinD_dhI_.glif</string>
	<key>sinDdhIi</key>
	<string>sinD_dhI_i.glif</string>
	<key>sinDdhU</key>
	<string>sinD_dhU_.glif</string>
	<key>sinDdhUu</key>
	<string>sinD_dhU_u.glif</string>
	<key>sinDh.halant</key>
	<string>sinD_h.halant.glif</string>
	<key>sinDhI</key>
	<string>sinD_hI_.glif</string>
	<key>sinDhIi</key>
	<string>sinD_hI_i.glif</string>
	<key>sinDhRIi</key>
	<string>sinD_hR_I_i.glif</string>
	<key>sinDhRa</key>
	<string>sinD_hR_a.glif</string>
	<key>sinDhU</key>
	<string>sinD_hU_.glif</string>
	<key>sinDhUu</key>
	<string>sinD_hU_u.glif</string>
	<key>sinDvocR</key>
	<string>sinD_vocR_.glif</string>
	<key>sinDvocRr</key>
	<string>sinD_vocR_r.glif</string>
	<key>sinF.halant</key>
	<string>sinF_.halant.glif</string>
	<key>sinFI</key>
	<string>sinF_I_.glif</string>
	<key>sinFIi</key>
	<string>sinF_I_i.glif</string>
	<key>sinFR.halant</key>
	<string>sinF_R_.halant.glif</string>
	<key>sinFRI</key>
	<string>sinF_R_I_.glif</string>
	<key>sinFRIi</key>
	<string>sinF_R_I_i.glif</string>
	<key>sinFRa</key>
	<string>sinF_R_a.glif</string>
	<key>sinFU</key>
	<string>sinF_U_.glif</string>
	<key>sinFUu</key>
	<string>sinF_U_u.glif</string>
	<key>sinG.halant</key>
	<string>sinG_.halant.glif</string>
	<key>sinGI</key>
	<string>sinG_I_.glif</string>
	<key>sinGIi</key>
	<string>sinG_I_i.glif</string>
	<key>sinGRIi</key>
	<string>sinG_R_I_i.glif</string>
	<key>sinGRa</key>
	<string>sinG_R_a.glif</string>
	<key>sinGU</key>
	<string>sinG_U_.glif</string>
	<key>sinGUu</key>
	<string>sinG_U_u.glif</string>
	<key>sinGh.halant</key>
	<string>sinG_h.halant.glif</string>
	<key>sinGhI</key>
	<string>sinG_hI_.glif</string>
	<key>sinGhIi</key>
	<string>sinG_hI_i.glif</string>
	<key>sinGhR.halant</key>
	<string>sinG_hR_.halant.glif</string>
	<key>sinGhRI</key>
	<string>sinG_hR_I_.glif</string>
	<key>sinGhRa</key>
	<string>sinG_hR_a.glif</string>
	<key>sinGhU</key>
	<string>sinG_hU_.glif</string>
	<key>sinGhUu</key>
	<string>sinG_hU_u.glif</string>
	<key>sinH.halant</key>
	<string>sinH_.halant.glif</string>
	<key>sinHI</key>
	<string>sinH_I_.glif</string>
	<key>sinHIi</key>
	<string>sinH_I_i.glif</string>
	<key>sinHR.halant</key>
	<string>sinH_R_.halant.glif</string>
	<key>sinHRI</key>
	<string>sinH_R_I_.glif</string>
	<key>sinHRIi</key>
	<string>sinH_R_I_i.glif</string>
	<key>sinHRa</key>
	<string>sinH_R_a.glif</string>
	<key>sinHU</key>
	<string>sinH_U_.glif</string>
	<key>sinHUu</key>
	<string>sinH_U_u.glif</string>
	<key>sinJ.halant</key>
	<string>sinJ_.halant.glif</string>
	<key>sinJI</key>
	<string>sinJ_I_.glif</string>
	<key>sinJIi</key>
	<string>sinJ_I_i.glif</string>
	<key>sinJR.halant</key>
	<string>sinJ_R_.halant.glif</string>
	<key>sinJRI</key>
	<string>sinJ_R_I_.glif</string>
	<key>sinJRIi</key>
	<string>sinJ_R_I_i.glif</string>
	<key>sinJRa</key>
	<string>sinJ_R_a.glif</string>
	<key>sinJU</key>
	<string>sinJ_U_.glif</string>
	<key>sinJUu</key>
	<string>sinJ_U_u.glif</string>
	<key>sinJh.halant</key>
	<string>sinJ_h.halant.glif</string>
	<key>sinJhI</key>
	<string>sinJ_hI_.glif</string>
	<key>sinJhIi</key>
	<string>sinJ_hI_i.glif</string>
	<key>sinJhR.halant</key>
	<string>sinJ_hR_.halant.glif</string>
	<key>sinJhRI</key>
	<string>sinJ_hR_I_.glif</string>
	<key>sinJhRIi</key>
	<string>sinJ_hR_I_i.glif</string>
	<key>sinJhRa</key>
	<string>sinJ_hR_a.glif</string>
	<key>sinJhU</key>
	<string>sinJ_hU_.glif</string>
	<key>sinJhUu</key>
	<string>sinJ_hU_u.glif</string>
	<key>sinJny.halant</key>
	<string>sinJ_ny.halant.glif</string>
	<key>sinJnyAa</key>
	<string>sinJ_nyA_a.glif</string>
	<key>sinJnyI</key>
	<string>sinJ_nyI_.glif</string>
	<key>sinJnyIi</key>
	<string>sinJ_nyI_i.glif</string>
	<key>sinJnyRI</key>
	<string>sinJ_nyR_I_.glif</string>
	<key>sinJnyU</key>
	<string>sinJ_nyU_.glif</string>
	<key>sinJnyUu</key>
	<string>sinJ_nyU_u.glif</string>
	<key>sinK.halant</key>
	<string>sinK_.halant.glif</string>
	<key>sinKI</key>
	<string>sinK_I_.glif</string>
	<key>sinKIi</key>
	<string>sinK_I_i.glif</string>
	<key>sinKRIi</key>
	<string>sinK_R_I_i.glif</string>
	<key>sinKRa</key>
	<string>sinK_R_a.glif</string>
	<key>sinKU</key>
	<string>sinK_U_.glif</string>
	<key>sinKUu</key>
	<string>sinK_U_u.glif</string>
	<key>sinKa.half</key>
	<string>sinK_a.half.glif</string>
	<key>sinKh.halant</key>
	<string>sinK_h.halant.glif</string>
	<key>sinKhI</key>
	<string>sinK_hI_.glif</string>
	<key>sinKhIi</key>
	<string>sinK_hI_i.glif</string>
	<key>sinKhRa</key>
	<string>sinK_hR_a.glif</string>
	<key>sinKhU</key>
	<string>sinK_hU_.glif</string>
	<key>sinKhUu</key>
	<string>sinK_hU_u.glif</string>
	<key>sinL.halant</key>
	<string>sinL_.halant.glif</string>
	<key>sinLI</key>
	<string>sinL_I_.glif</string>
	<key>sinLIi</key>
	<string>sinL_I_i.glif</string>
	<key>sinLU</key>
	<string>sinL_U_.glif</string>
	<key>sinLUu</key>
	<string>sinL_U_u.glif</string>
	<key>sinLl.halant</key>
	<string>sinL_l.halant.glif</string>
	<key>sinLlI</key>
	<string>sinL_lI_.glif</string>
	<key>sinLlIi</key>
	<string>sinL_lI_i.glif</string>
	<key>sinLlU</key>
	<string>sinL_lU_.glif</string>
	<key>sinLlUu</key>
	<string>sinL_lU_u.glif</string>
	<key>sinM.halant</key>
	<string>sinM_.halant.glif</string>
	<key>sinMI</key>
	<string>sinM_I_.glif</string>
	<key>sinMIi</key>
	<string>sinM_I_i.glif</string>
	<key>sinMRa</key>
	<string>sinM_R_a.glif</string>
	<key>sinMU</key>
	<string>sinM_U_.glif</string>
	<key>sinMUu</key>
	<string>sinM_U_u.glif</string>
	<key>sinMatraAa.halant</key>
	<string>sinM_atraA_a.halant.glif</string>
	<key>sinMb.halant</key>
	<string>sinM_b.halant.glif</string>
	<key>sinMbI</key>
	<string>sinM_bI_.glif</string>
	<key>sinMbIi</key>
	<string>sinM_bI_i.glif</string>
	<key>sinMbU</key>
	<string>sinM_bU_.glif</string>
	<key>sinMbUu</key>
	<string>sinM_bU_u.glif</string>
	<key>sinN.halant</key>
	<string>sinN_.halant.glif</string>
	<key>sinNDhU</key>
	<string>sinN_D_hU_.glif</string>
	<key>sinNDhUu</key>
	<string>sinN_D_hU_u.glif</string>
	<key>sinNI</key>
	<string>sinN_I_.glif</string>
	<key>sinNIi</key>
	<string>sinN_I_i.glif</string>
	<key>sinNdU</key>
	<string>sinN_dU_.glif</string>
	<key>sinNdUu</key>
	<string>sinN_dU_u.glif</string>
	<key>sinNdj.halant</key>
	<string>sinN_dj.halant.glif</string>
	<key>sinNdjI</key>
	<string>sinN_djI_.glif</string>
	<key>sinNdjIi</key>
	<string>sinN_djI_i.glif</string>
	<key>sinNdjR.halant</key>
	<string>sinN_djR_.halant.glif</string>
	<key>sinNdjRa</key>
	<string>sinN_djR_a.glif</string>
	<key>sinNdjU</key>
	<string>sinN_djU_.glif</string>
	<key>sinNdjUu</key>
	<string>sinN_djU_u.glif</string>
	<key>sinNg.halant</key>
	<string>sinN_g.halant.glif</string>
	<key>sinNgI</key>
	<string>sinN_gI_.glif</string>
	<key>sinNgIi</key>
	<string>sinN_gI_i.glif</string>
	<key>sinNn.halant</key>
	<string>sinN_n.halant.glif</string>
	<key>sinNnI</key>
	<string>sinN_nI_.glif</string>
	<key>sinNnIi</key>
	<string>sinN_nI_i.glif</string>
	<key>sinNnU</key>
	<string>sinN_nU_.glif</string>
	<key>sinNnUu</key>
	<string>sinN_nU_u.glif</string>
	<key>sinNndd.halant</key>
	<string>sinN_ndd.halant.glif</string>
	<key>sinNnddI</key>
	<string>sinN_nddI_.glif</string>
	<key>sinNnddIi</key>
	<string>sinN_nddI_i.glif</string>
	<key>sinNnddU</key>
	<string>sinN_nddU_.glif</string>
	<key>sinNnddUu</key>
	<string>sinN_nddU_u.glif</string>
	<key>sinNng.halant</key>
	<string>sinN_ng.halant.glif</string>
	<key>sinNngI</key>
	<string>sinN_ngI_.glif</string>
	<key>sinNngIi</key>
	<string>sinN_ngI_i.glif</string>
	<key>sinNngU</key>
	<string>sinN_ngU_.glif</string>
	<key>sinNngUu</key>
	<string>sinN_ngU_u.glif</string>
	<key>sinNy.halant</key>
	<string>sinN_y.halant.glif</string>
	<key>sinNyAa</key>
	<string>sinN_yA_a.glif</string>
	<key>sinNyI</key>
	<string>sinN_yI_.glif</string>
	<key>sinNyIi</key>
	<string>sinN_yI_i.glif</string>
	<key>sinNyR.halant</key>
	<string>sinN_yR_.halant.glif</string>
	<key>sinNyRI</key>
	<string>sinN_yR_I_.glif</string>
	<key>sinNyRIi</key>
	<string>sinN_yR_I_i.glif</string>
	<key>sinNyU</key>
	<string>sinN_yU_.glif</string>
	<key>sinNyUu</key>
	<string>sinN_yU_u.glif</string>
	<key>sinP.halant</key>
	<string>sinP_.halant.glif</string>
	<key>sinPI</key>
	<string>sinP_I_.glif</string>
	<key>sinPIi</key>
	<string>sinP_I_i.glif</string>
	<key>sinPRI</key>
	<string>sinP_R_I_.glif</string>
	<key>sinPRIi</key>
	<string>sinP_R_I_i.glif</string>
	<key>sinPRa</key>
	<string>sinP_R_a.glif</string>
	<key>sinPU</key>
	<string>sinP_U_.glif</string>
	<key>sinPUu</key>
	<string>sinP_U_u.glif</string>
	<key>sinPh.halant</key>
	<string>sinP_h.halant.glif</string>
	<key>sinPhI</key>
	<string>sinP_hI_.glif</string>
	<key>sinPhIi</key>
	<string>sinP_hI_i.glif</string>
	<key>sinPhU</key>
	<string>sinP_hU_.glif</string>
	<key>sinPhUu</key>
	<string>sinP_hU_u.glif</string>
	<key>sinR.halant</key>
	<string>sinR_.halant.glif</string>
	<key>sinRAae</key>
	<string>sinR_A_ae.glif</string>
	<key>sinRAe</key>
	<string>sinR_A_e.glif</string>
	<key>sinRI</key>
	<string>sinR_I_.glif</string>
	<key>sinRIi</key>
	<string>sinR_I_i.glif</string>
	<key>sinRU</key>
	<string>sinR_U_.glif</string>
	<key>sinRUu</key>
	<string>sinR_U_u.glif</string>
	<key>sinRakar</key>
	<string>sinR_akar.glif</string>
	<key>sinReph</key>
	<string>sinR_eph.glif</string>
	<key>sinS.halant</key>
	<string>sinS_.halant.glif</string>
	<key>sinSI</key>
	<string>sinS_I_.glif</string>
	<key>sinSIi</key>
	<string>sinS_I_i.glif</string>
	<key>sinSRI</key>
	<string>sinS_R_I_.glif</string>
	<key>sinSRa</key>
	<string>sinS_R_a.glif</string>
	<key>sinSU</key>
	<string>sinS_U_.glif</string>
	<key>sinSUu</key>
	<string>sinS_U_u.glif</string>
	<key>sinSh.halant</key>
	<string>sinS_h.halant.glif</string>
	<key>sinShI</key>
	<string>sinS_hI_.glif</string>
	<key>sinShIi</key>
	<string>sinS_hI_i.glif</string>
	<key>sinShR.halant</key>
	<string>sinS_hR_.halant.glif</string>
	<key>sinShRI</key>
	<string>sinS_hR_I_.glif</string>
	<key>sinShRIi</key>
	<string>sinS_hR_I_i.glif</string>
	<key>sinShU</key>
	<string>sinS_hU_.glif</string>
	<key>sinShUu</key>
	<string>sinS_hU_u.glif</string>
	<key>sinSsI</key>
	<string>sinS_sI_.glif</string>
	<key>sinSsIi</key>
	<string>sinS_sI_i.glif</string>
	<key>sinSsU</key>
	<string>sinS_sU_.glif</string>
	<key>sinSsUu</key>
	<string>sinS_sU_u.glif</string>
	<key>sinT.halant</key>
	<string>sinT_.halant.glif</string>
	<key>sinTI</key>
	<string>sinT_I_.glif</string>
	<key>sinTIi</key>
	<string>sinT_I_i.glif</string>
	<key>sinTRIi</key>
	<string>sinT_R_I_i.glif</string>
	<key>sinTRa</key>
	<string>sinT_R_a.glif</string>
	<key>sinTThI</key>
	<string>sinT_T_hI_.glif</string>
	<key>sinTU</key>
	<string>sinT_U_.glif</string>
	<key>sinTUu</key>
	<string>sinT_U_u.glif</string>
	<key>sinTVU</key>
	<string>sinT_V_U_.glif</string>
	<key>sinTVUu</key>
	<string>sinT_V_U_u.glif</string>
	<key>sinTh.halant</key>
	<string>sinT_h.halant.glif</string>
	<key>sinThI</key>
	<string>sinT_hI_.glif</string>
	<key>sinThIi</key>
	<string>sinT_hI_i.glif</string>
	<key>sinThU</key>
	<string>sinT_hU_.glif</string>
	<key>sinThUu</key>
	<string>sinT_hU_u.glif</string>
	<key>sinTt.halant</key>
	<string>sinT_t.halant.glif</string>
	<key>sinTtI</key>
	<string>sinT_tI_.glif</string>
	<key>sinTtIi</key>
	<string>sinT_tI_i.glif</string>
	<key>sinTtU</key>
	<string>sinT_tU_.glif</string>
	<key>sinTtUu</key>
	<string>sinT_tU_u.glif</string>
	<key>sinTth.halant</key>
	<string>sinT_th.halant.glif</string>
	<key>sinTthI</key>
	<string>sinT_thI_.glif</string>
	<key>sinTthIi</key>
	<string>sinT_thI_i.glif</string>
	<key>sinTthU</key>
	<string>sinT_thU_.glif</string>
	<key>sinTthUu</key>
	<string>sinT_thU_u.glif</string>
	<key>sinV.halant</key>
	<string>sinV_.halant.glif</string>
	<key>sinVI</key>
	<string>sinV_I_.glif</string>
	<key>sinVIi</key>
	<string>sinV_I_i.glif</string>
	<key>sinVRa</key>
	<string>sinV_R_a.glif</string>
	<key>sinVU</key>
	<string>sinV_U_.glif</string>
	<key>sinVUu</key>
	<string>sinV_U_u.glif</string>
	<key>sinY.halant</key>
	<string>sinY_.halant.glif</string>
	<key>sinYI</key>
	<string>sinY_I_.glif</string>
	<key>sinYIi</key>
	<string>sinY_I_i.glif</string>
	<key>sinYU</key>
	<string>sinY_U_.glif</string>
	<key>sinYUu</key>
	<string>sinY_U_u.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>ssa-sinhala</key>
	<string>ssa-sinhala.glif</string>
	<key>ssa-tamil</key>
	<string>ssa-tamil.glif</string>
	<key>ta-sinhala</key>
	<string>ta-sinhala.glif</string>
	<key>ta-tamil</key>
	<string>ta-tamil.glif</string>
	<key>taCU</key>
	<string>taC_U_.glif</string>
	<key>taCUu</key>
	<string>taC_U_u.glif</string>
	<key>taKSsa</key>
	<string>taK_S_sa.glif</string>
	<key>taKU</key>
	<string>taK_U_.glif</string>
	<key>taKUu</key>
	<string>taK_U_u.glif</string>
	<key>taLU</key>
	<string>taL_U_.glif</string>
	<key>taLUu</key>
	<string>taL_U_u.glif</string>
	<key>taLlU</key>
	<string>taL_lU_.glif</string>
	<key>taLlUu</key>
	<string>taL_lU_u.glif</string>
	<key>taLllU</key>
	<string>taL_llU_.glif</string>
	<key>taLllUu</key>
	<string>taL_llU_u.glif</string>
	<key>taMU</key>
	<string>taM_U_.glif</string>
	<key>taMUu</key>
	<string>taM_U_u.glif</string>
	<key>taMatraAi.alt</key>
	<string>taM_atraA_i.alt.glif</string>
	<key>taMatraI.alt1</key>
	<string>taM_atraI_.alt1.glif</string>
	<key>taMatraI.alt2</key>
	<string>taM_atraI_.alt2.glif</string>
	<key>taMatraI.alt3</key>
	<string>taM_atraI_.alt3.glif</string>
	<key>taMatraI.alt4</key>
	<string>taM_atraI_.alt4.glif</string>
	<key>taMatraI.alt5</key>
	<string>taM_atraI_.alt5.glif</string>
	<key>taMatraI.alt6</key>
	<string>taM_atraI_.alt6.glif</string>
	<key>taMatraI.alt7</key>
	<string>taM_atraI_.alt7.glif</string>
	<key>taMatraI.alt8</key>
	<string>taM_atraI_.alt8.glif</string>
	<key>taMatraI.stylalt1</key>
	<string>taM_atraI_.stylalt1.glif</string>
	<key>taMatraIi.alt1</key>
	<string>taM_atraI_i.alt1.glif</string>
	<key>taMatraIi.alt2</key>
	<string>taM_atraI_i.alt2.glif</string>
	<key>taMatraIi.alt3</key>
	<string>taM_atraI_i.alt3.glif</string>
	<key>taMatraIi.stylalt1</key>
	<string>taM_atraI_i.stylalt1.glif</string>
	<key>taMatraU.alt1</key>
	<string>taM_atraU_.alt1.glif</string>
	<key>taNU</key>
	<string>taN_U_.glif</string>
	<key>taNUu</key>
	<string>taN_U_u.glif</string>
	<key>taNgUu</key>
	<string>taN_gU_u.glif</string>
	<key>taNnAa.alt</key>
	<string>taN_nA_a.alt.glif</string>
	<key>taNnU</key>
	<string>taN_nU_.glif</string>
	<key>taNnUu</key>
	<string>taN_nU_u.glif</string>
	<key>taNnnAa.alt</key>
	<string>taN_nnA_a.alt.glif</string>
	<key>taNnnU</key>
	<string>taN_nnU_.glif</string>
	<key>taNnnUu</key>
	<string>taN_nnU_u.glif</string>
	<key>taNyU</key>
	<string>taN_yU_.glif</string>
	<key>taNyUu</key>
	<string>taN_yU_u.glif</string>
	<key>taPUu</key>
	<string>taP_U_u.glif</string>
	<key>taRU</key>
	<string>taR_U_.glif</string>
	<key>taRUu</key>
	<string>taR_U_u.glif</string>
	<key>taRrAa.alt</key>
	<string>taR_rA_a.alt.glif</string>
	<key>taRrU</key>
	<string>taR_rU_.glif</string>
	<key>taRrUu</key>
	<string>taR_rU_u.glif</string>
	<key>taShree</key>
	<string>taS_hree.glif</string>
	<key>taTU</key>
	<string>taT_U_.glif</string>
	<key>taTUu</key>
	<string>taT_U_u.glif</string>
	<key>taTtI</key>
	<string>taT_tI_.glif</string>
	<key>taTtIi</key>
	<string>taT_tI_i.glif</string>
	<key>taTtU</key>
	<string>taT_tU_.glif</string>
	<key>taTtUu</key>
	<string>taT_tU_u.glif</string>
	<key>taVUu</key>
	<string>taV_U_u.glif</string>
	<key>taYUu</key>
	<string>taY_U_u.glif</string>
	<key>tha-sinhala</key>
	<string>tha-sinhala.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tml_MatraU.alt1</key>
	<string>tml_M_atraU_.alt1.glif</string>
	<key>tta-sinhala</key>
	<string>tta-sinhala.glif</string>
	<key>tta-tamil</key>
	<string>tta-tamil.glif</string>
	<key>ttha-sinhala</key>
	<string>ttha-sinhala.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u-sinhala</key>
	<string>u-sinhala.glif</string>
	<key>u-tamil</key>
	<string>u-tamil.glif</string>
	<key>uMatra-sinhala</key>
	<string>uM_atra-sinhala.glif</string>
	<key>uMatra-tamil</key>
	<string>uM_atra-tamil.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uu-sinhala</key>
	<string>uu-sinhala.glif</string>
	<key>uu-tamil</key>
	<string>uu-tamil.glif</string>
	<key>uuMatra-sinhala</key>
	<string>uuM_atra-sinhala.glif</string>
	<key>uuMatra-tamil</key>
	<string>uuM_atra-tamil.glif</string>
	<key>va-sinhala</key>
	<string>va-sinhala.glif</string>
	<key>va-tamil</key>
	<string>va-tamil.glif</string>
	<key>virama-sinhala</key>
	<string>virama-sinhala.glif</string>
	<key>visargaya-sinhala</key>
	<string>visargaya-sinhala.glif</string>
	<key>ya-sinhala</key>
	<string>ya-sinhala.glif</string>
	<key>ya-tamil</key>
	<string>ya-tamil.glif</string>
	<key>year-tamil</key>
	<string>year-tamil.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
